<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>综艺 - 免费电影 - 苹果CMS</title>
    <meta name="keywords" content="综艺,综艺节目,最新综艺节目,综艺节目排行榜 - 免费在线电影">
	<meta name="description" content="为您提供新综艺节目、好看的综艺节目排行榜，免费高清在线观看选秀、情感、访谈、搞笑、真人秀、脱口秀等热门综艺节目。 - 提供最新最快的影视资讯和在线播放">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    
    <link href="../static/css/app.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.min.js"></script>
    <link href="../static/css/swiper.min.css" rel="stylesheet" type="text/css">
    <script src="../static/js/swiper.min.js"></script>
    <script src="../static/js/iconfont.js"></script>
	<script>var maccms={"path":"","mid":"1","url":"343.pc16.cn","wapurl":"343.pc16.cn","mob_status":"2"};</script>
	<script src="../static/js/home.js"></script>
</head>
<body>
<header class="itopbar">

    <div class="container">
        <h1 class="ilogo"><a href="" title="logo"><img src="../static/picture/logo.png" alt="免费电影 - 苹果CMS"><span>免费电影 - 苹果CMS</span></a>
        </h1>
        <nav class="sitenav">
            <a href="" class="cur">首页</a>
            <a href="movie_list.html">电影</a>
            <!--                <a href="2.html">连续剧</a>-->
            <!--                <a href="3.html">综艺</a>-->
            <a href="comic_list.html">动漫</a>
            <!--                <a href="5.html">资讯</a>-->
            <!--                <a href="index1.html">专题</a>-->
            <!--                <a href="index2.html">留言</a>-->
        </nav>
        <div class="itr">
            <div class="mod">
                <a href="javascript:;" class="mac_history"><i class="iconfont">&#xe62b;</i>看过<span class="caret"></span></a>
            </div>
            <div class="mod"><a href="javascript:;" class="mac_user"><i class="iconfont">&#xe62c;</i>会员</a></div>
        </div>
        <span class="searchstart-on"><i class="iconfont">&#xe61e;</i></span><span class="searchstart-off"><i
            class="iconfont">&#xe622;</i></span>
        <form name="formsearch" class="searchform" action="/index.php/vod/search.html" autocomplete="off">
            <input class="ipt" placeholder="输入影片片名或演员名称。" name="wd" type="text" id="wd" required="">
            <!-- <input type="submit" id="searchbutton" value="" class="hide"><a href="javascript:" class="ibtn" title="搜索" onclick="$('.searchform').submit();"><i class="iconfont">&#xe61e;</i> 搜索</a> -->
            <input type="submit" id="searchbutton" value="" class="hide"><a href="search.html" class="ibtn" title="搜索"
                                                                            onclick="$('.searchform').submit();"><i
                class="iconfont">&#xe61e;</i> 搜索</a>
        </form>
    </div>
</header>
<div class="icon">
        <div class="container">
		
            <section class="imain clearfix">
                <div class="col-l">
                    <div class="tv-hd">
                        <h2>最热综艺</h2>
                        <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="32.html">更多<i class="iconfont">&#xe613;</i></a></div>
                    </div>
                    <div class="tv-bd a_clist">
                        <div class="aclcon1">                            <div class="tv-l">
                                <div class="tvhots"><div class="v-pic">
    <img data-src="../static/picture/picture.jpg" class="thumb" alt="我的城 我的歌"><div class="v-tips">2020-04-12期</div><a href="358.html" title="我的城 我的歌" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <p class="v-tit">
        <em class="em-tit"><a href="358.html" title="我的城 我的歌">我的城 我的歌</a></em>
        <em class="em-score">7.0分</em>
    </p>
    <p class="s-des">主持：<a href="未知.html" target="_blank">未知</a>&nbsp;&nbsp;</p>
	<p class="s-des">地区：<a href="未知1.html" target="_blank">未知</a>&nbsp;&nbsp;</p>
</div></div>
        </div>            <div class="tv-r">
				<ul class="tv-list">
									<li>
    <div class="v-pic">
        <img data-src="../static/picture/fed68b04a033418489d55d20682b9df2.jpg" class="thumb" alt="歌手·当打之年"><div class="v-tips">2020-04-10期</div><a href="366.html" title="歌手·当打之年" class="v-playBtn"><i></i></a>
    </div>
    <div class="v-txt">
        <span class="v-tit"><a href="366.html" title="歌手·当打之年">歌手·当打之年</a></span>
    </div>
					</li>				</ul>
			</div>
                        </div>
                        <div class="aclcon2 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon3 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="tv-hd">
                        <h2>最新期数</h2></div>
                    <div class="tv-bd">
                        <ul class="v-rank-zy clearfix">						<li><span class="s_tit"><a href="366.html" title="歌手·当打之年">歌手·当打之年</a></span><span class="s_des">2020-04-10期</span></li>						<li><span class="s_tit"><a href="358.html" title="我的城 我的歌">我的城 我的歌</a></span><span class="s_des">2020-04-12期</span></li>                        </ul>
                    </div>
                </div>
            </section>
             
            <section class="sort_list clearfix">
                <dl class="radio">
                    <dt>地<br>区</dt>
                    <dd>	<a href="33.html">大陆</a>
	 <a href="34.html">港台</a>
 <a href="35.html">日韩</a>
 <a href="36.html">欧美</a>
					</dd>
                </dl>
                <dl class="style">
                    <dt>分<br>类</dt>
                    <dd>					<a href="37.html">选秀</a>					<a href="38.html">情感</a>					<a href="39.html">访谈</a>					<a href="3101.html">播报</a>					<a href="311.html">旅游</a>					<a href="312.html">音乐</a>					<a href="3131.html">美食</a>					<a href="3141.html">纪实</a>					<a href="315.html">曲艺</a>					<a href="3161.html">生活</a>					<a href="3171.html">游戏互动</a>					<a href="318.html">财经</a>					<a href="319.html">求职</a>					</dd>
                </dl>
                <dl class="radio">
					<dt>年<br>代</dt>
                    <dd>					<a href="20182.html">2018</a>					<a href="20172.html">2017</a>					<a href="javascript:;">2016</a>					<a href="javascript:;">2015</a>					<a href="javascript:;">2014</a>					<a href="javascript:;">2013</a>					<a href="javascript:;">2012</a>					<a href="javascript:;">2011</a>					<a href="javascript:;">2010</a>					<a href="javascript:;">2009</a>					<a href="javascript:;">2008</a>					<a href="javascript:;">2007</a>					<a href="javascript:;">2006</a>					<a href="javascript:;">2005</a>					<a href="javascript:;">2004</a>					</dd>
                </dl>
                <dl class="recommend">
                    <dt>推<br>荐</dt>
                    <dd>					<a href="358.html" title="我的城 我的歌">我的城 我的歌</a>					<a href="366.html" title="歌手·当打之年">歌手·当打之年</a>					</dd>
                </dl>
            </section>
			
            <section class="imain clearfix">
                <div class="col-l">
                    <div class="tv-hd">
                        <h2>大陆综艺</h2>
                        <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="33.html">更多<i class="iconfont">&#xe613;</i></a></div>
                    </div>
                    <div class="tv-bd a_clist">
                        <div class="tv-bd a_clist">
                        <div class="aclcon1">            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon2 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon3 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="tv-hd">
                        <h2>大陆 • 排行榜</h2></div>
                    <div class="tv-bd">
                        <ul class="v-rank clearfix">
												</ul>
                    </div>
                </div>
            </section>
			 
            <section class="imain clearfix">
                <div class="col-l">
                    <div class="tv-hd">
                        <h2>台湾综艺</h2>
                        <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="javascript:;">更多<i class="iconfont">&#xe613;</i></a></div>
                    </div>
                    <div class="tv-bd a_clist">
                        <div class="tv-bd a_clist">
                        <div class="aclcon1">            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon2 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon3 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="tv-hd">
                        <h2>台湾 • 排行榜</h2></div>
                    <div class="tv-bd">
                        <ul class="v-rank clearfix">
												</ul>
                    </div>
                </div>
            </section>
			
            <section class="imain clearfix">
                <div class="col-l">
                    <div class="tv-hd">
                        <h2>韩国综艺</h2>
                        <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="javascript:;">更多<i class="iconfont">&#xe613;</i></a></div>
                    </div>
                    <div class="tv-bd a_clist">
                        <div class="tv-bd a_clist">
                        <div class="aclcon1">            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon2 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon3 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="tv-hd">
                        <h2>韩国 • 排行榜</h2></div>
                    <div class="tv-bd">
                        <ul class="v-rank clearfix">
												</ul>
                    </div>
                </div>
            </section>
           
            <section class="imain clearfix">
                <div class="col-l">
                    <div class="tv-hd">
                        <h2>欧美综艺</h2>
                        <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="javascript:;">更多<i class="iconfont">&#xe613;</i></a></div>
                    </div>
                    <div class="tv-bd a_clist">
                        <div class="tv-bd a_clist">
                        <div class="aclcon1">            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon2 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                        <div class="aclcon3 hide">                            <div class="tv-r">
                <ul class="tv-list">
								</ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="tv-hd">
                        <h2>欧美 • 排行榜</h2></div>
                    <div class="tv-bd">
                        <ul class="v-rank clearfix">
												</ul>
                    </div>
                </div>
            </section>
        </div>
    </div><!-- 页脚 -->
    <footer class="ifoot">
        <nav class="bnav">
				<a href="movie_list.html" title="电影">热播电影</a>
				<a href="2.html" title="连续剧">热播连续剧</a>
				<a href="" title="综艺">热播综艺</a>
				<a href="comic_list.html" title="动漫">热播动漫</a>
				<a href="5.html" title="资讯">热播资讯</a>
				<a href="index2.html" title="留言求片">留言求片</a>
		</nav>
        <p>免责声明:本网站所有内容均系收集于各大网站，本站只提供WEB页面服务，并不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢合作。</p>
        <p class="en">343.pc16.cn站长邮箱:123456@maccms.com</p>
		<p class="en">统计代码</p>
    </footer>
    <script src="../static/js/lazyload.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>
