<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2019年最新电影_九州天空城2-第6集在线播放-免费电影 - 苹果CMSbt种子搜索资源,百度网盘下载,国内领先的在线视频网站,免VIP在线观看无广告高清视频</title>
    <meta name="keywords" content="九州天空城2-第6集在线观看,谈判官百度网盘,谈判官迅雷下载,免费电影 - 苹果CMS_国内领先的在线视频网站·免VIP在线观看无广告高清视频">
    <meta name="description" content="《九州天空城2-第6集》在线观看,《九州天空城2-第6集》高清资源迅雷下载,免费电影 - 苹果CMS_国内领先的在线视频网站·免VIP在线观看无广告高清视频剧情:">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    
	<link href="/template/helen_ten/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/css/app.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.min.js"></script>
    <script>var maccms={"path":"","mid":"1","url":"343.pc16.cn","wapurl":"343.pc16.cn","mob_status":"2"};</script>
	<script src="../static/js/home.js"></script>
</head>
<body>
<header class="itopbar">

    <div class="container">
        <h1 class="ilogo"><a href="" title="logo"><img src="../static/picture/logo.png" alt="免费电影 - 苹果CMS"><span>免费电影 - 苹果CMS</span></a>
        </h1>
        <nav class="sitenav">
            <a href="" class="cur">首页</a>
            <a href="movie_list.html">电影</a>
            <!--                <a href="2.html">连续剧</a>-->
            <!--                <a href="3.html">综艺</a>-->
            <a href="comic_list.html">动漫</a>
            <!--                <a href="5.html">资讯</a>-->
            <!--                <a href="index1.html">专题</a>-->
            <!--                <a href="index2.html">留言</a>-->
        </nav>
        <div class="itr">
            <div class="mod">
                <a href="javascript:;" class="mac_history"><i class="iconfont">&#xe62b;</i>看过<span class="caret"></span></a>
            </div>
            <div class="mod"><a href="javascript:;" class="mac_user"><i class="iconfont">&#xe62c;</i>会员</a></div>
        </div>
        <span class="searchstart-on"><i class="iconfont">&#xe61e;</i></span><span class="searchstart-off"><i
            class="iconfont">&#xe622;</i></span>
        <form name="formsearch" class="searchform" action="/index.php/vod/search.html" autocomplete="off">
            <input class="ipt" placeholder="输入影片片名或演员名称。" name="wd" type="text" id="wd" required="">
            <!-- <input type="submit" id="searchbutton" value="" class="hide"><a href="javascript:" class="ibtn" title="搜索" onclick="$('.searchform').submit();"><i class="iconfont">&#xe61e;</i> 搜索</a> -->
            <input type="submit" id="searchbutton" value="" class="hide"><a href="search.html" class="ibtn" title="搜索"
                                                                            onclick="$('.searchform').submit();"><i
                class="iconfont">&#xe61e;</i> 搜索</a>
        </form>
    </div>
</header>
    <div class="icon">
        <section class="iplaytop">
            <div class="container">
                <div class="col-l">
                    <div class="mtips"><i class="iconfont">&#xe630;</i>
                        <div class="mtxt">正在播放：九州天空城2 第6集 连续剧</div><i class="iconfont" onclick="closeTips()">&#xe622;</i></div>
                    <div class="iplays">
					<script>var player_data={"flag":"play","encrypt":0,"trysee":0,"points":0,"link":"\/index.php\/vod\/play\/id\/310\/sid\/1\/nid\/1.html","link_next":"\/index.php\/vod\/play\/id\/310\/sid\/1\/nid\/7.html","link_pre":"\/index.php\/vod\/play\/id\/310\/sid\/1\/nid\/5.html","url":"https:\/\/v.qq.com\/x\/cover\/fyxgdb78znsgkti\/j0033nnej6t.html","url_next":"https:\/\/v.qq.com\/x\/cover\/fyxgdb78znsgkti\/h0033vgluma.html","from":"qq","server":"no","note":""}</script>					<script src="../static/js/playerconfig.js"></script><script src="../static/js/player.js"></script>					</div>
                </div>
                <div class="col-r">
                    <div class="iptit">
                        <h3>九州天空城2 【连续剧】</h3>
						<p>第6集</p>
                    </div>
                    <div class="fjcon">
                        <div class="fjtop clearfix"><a href="javascript:zush(1);" id="zush_1" class="fjtab cur">腾讯视频</a></div>
                                                <div class="xjs xjs_1" style="display: block;">

                            <div class="xjn">
                                <ul class="xjn_ul play-list">
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="143.html">第1集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="228.html">第2集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="3201.html">第3集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="411.html">第4集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="51.html">第5集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n cur" href="">第6集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="7.html">第7集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="8.html">第8集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="9.html">第9集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="10.html">第10集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="1122.html">第11集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="1211.html">第12集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="1321.html">第13集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="14111.html">第14集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="151.html">第15集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="161.html">第16集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="1711.html">第17集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第18集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第19集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第20集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第21集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第22集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第23集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第24集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第25集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第26集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第27集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第28集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第29集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第30集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第31集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第32集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第33集</a></li>
                                                                        <li class="xjn_li zhwli_1"><a class="x_n " href="javascript:;">第34集</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                                            </div>
                    <script>
                            function zush(i) {
                                $('.xjs').hide();
                                $('.xjs_' + i).show();
                                $('.fjtab').removeClass('cur');
                                $('#zush_' + i).addClass('cur')
                            }
                    </script>
                </div>
            </div>
			</section></div>
        
		
        <section class="describe">
            <div class="video-intro container">
                <div class="video-title">
                    <h1>九州天空城2 第6集</h1></div>
                <div class="video-tags"><span class="tags">连续剧</span></div>
                <div class="clearfix"></div>
                <p class="hoster"><span>导演：<a href="赵锦焘.html" target="_blank">赵锦焘</a>&nbsp;&nbsp;<a href="闵国辉.html" target="_blank">闵国辉</a>&nbsp;&nbsp;<a href="张进庆.html" target="_blank">张进庆</a>&nbsp;&nbsp;</span><span style="padding-left: 30px">主演：<a href="徐正溪.html" target="_blank">徐正溪</a>&nbsp;&nbsp;<a href="王玉雯.html" target="_blank">王玉雯</a>&nbsp;&nbsp;<a href="李沐宸.html" target="_blank">李沐宸</a>&nbsp;&nbsp;<a href="代文雯.html" target="_blank">代文雯</a>&nbsp;&nbsp;<a href="王子奇.html" target="_blank">王子奇</a>&nbsp;&nbsp;<a href="柴格.html" target="_blank">柴格</a>&nbsp;&nbsp;</span></p>
                <div class="infor">羽皇风天逸与人族少女易茯苓打破了星流花神的宿命轮回，有情人终成眷属，被后人传为佳话其女风如澈出生那年，澜州大地最伟大的秘术师雪景空的一滴心头血拯救了被花神杀死的风如澈，由此开启了二人一生的宿命纠葛
澜</div>
            </div>
        </section>
		
		<div class="icon">
        <div class="container">
		广告位1开始下方广告代码可以替换成自己的广告代码。如不需要请直接删除
			<!--<a href="#/" target="_blank"><img src="http://pbj0snegw.bkt.clouddn.com/abc1.gif" width="100%" height="100"></a>
			<!--广告位1结束-->
		</div>
            </div>
		
    <section class="idetail container">
        <div class="col-l">
            <div class="tv-hd v-border">
                <h2><span>剧情介绍</span></h2>
            </div>
            <div class="tv-bd">
                <div class="infor_intro"><p>羽皇风天逸与人族少女易茯苓打破了星流花神的宿命轮回，有情人终成眷属，被后人传为佳话其女风如澈出生那年，澜州大地最伟大的秘术师雪景空的一滴心头血拯救了被花神杀死的风如澈，由此开启了二人一生的宿命纠葛
澜州各地群雄四起，神谕有云“金翼出，女皇现”，各方势力都在寻找生有金色羽翼的风天逸独女。风如澈十八岁生日那天突然长出一双金色羽翼，命运从此改变。昨天还是走江湖讨生活的小飞贼，今日就成了君临天下的女皇陛下。进入宫中，风如澈却成为权臣明争暗斗的棋子，落难的她再次命运般地邂逅了雪景空……</p></div>
            </div>
            <div class="tv-hd v-border">
                <h2><span>喜欢看【九州天空城2】的人也喜欢</span></h2>
            </div>
            <div class="tv-bd">
				<ul class="tv-list tv-hotlist">                    <li><div class="v-pic">
    <img data-src="../static/picture/7515f472037de4cee5f6acd921e52aa5.jpg" class="thumb" alt="不完美的她">
    <div class="v-tips">22集全</div> <a href="361.html" title="不完美的她" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="361.html" title="不完美的她">不完美的她</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="https://ziyuan.nuoxun.net/upload/vod/20200214-12/e3f9b3eb9642efbf6d06ac4814004382.jpg" class="thumb" alt="地雷战传奇">
    <div class="v-tips">更新到30集</div> <a href="287.html" title="地雷战传奇" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="287.html" title="地雷战传奇">地雷战传奇</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/6ed9958bab3327a7c8c46aaa92a70def.jpg" class="thumb" alt="如果岁月可回头">
    <div class="v-tips">更新到42集</div> <a href="300.html" title="如果岁月可回头" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="300.html" title="如果岁月可回头">如果岁月可回头</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/ce41ec4bb685a2956b04690a721a8e13.jpg" class="thumb" alt="黑土地黄棉袄">
    <div class="v-tips">更新到40集</div> <a href="338.html" title="黑土地黄棉袄" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="338.html" title="黑土地黄棉袄">黑土地黄棉袄</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/3629ae33181f210051565b929c413c9b.jpg" class="thumb" alt="鬓边不是海棠红">
    <div class="v-tips">更新至36集</div> <a href="425.html" title="鬓边不是海棠红" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="425.html" title="鬓边不是海棠红">鬓边不是海棠红</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/8d40eecd2978a6df440f15fb5292efd0.jpg" class="thumb" alt="飞哥战队">
    <div class="v-tips">全50集</div> <a href="327.html" title="飞哥战队" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="327.html" title="飞哥战队">飞哥战队</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="https://ziyuan.nuoxun.net/upload/vod/20200214-26/4a1a691f6671e25cdc60d39bab513904.jpg" class="thumb" alt="爱情的开关">
    <div class="v-tips">更新至16集</div> <a href="328.html" title="爱情的开关" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="328.html" title="爱情的开关">爱情的开关</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/2203.jpg" class="thumb" alt="我是余欢水">
    <div class="v-tips">更新至10集</div> <a href="313.html" title="我是余欢水" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="313.html" title="我是余欢水">我是余欢水</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/b553949c1c4791ec224cae9b322c15e3.jpg" class="thumb" alt="我们在梦开始的地方">
    <div class="v-tips">更新到9集</div> <a href="320.html" title="我们在梦开始的地方" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="320.html" title="我们在梦开始的地方">我们在梦开始的地方</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/f2027ff43f60aba091fdccf232eb75ed.jpg" class="thumb" alt="一诺无悔">
    <div class="v-tips">更新到21集</div> <a href="322.html" title="一诺无悔" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="322.html" title="一诺无悔">一诺无悔</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="https://ziyuan.nuoxun.net/upload/vod/20200214-27/14fdfd57012cb9850d02bf3c12543517.jpg" class="thumb" alt="猎狐">
    <div class="v-tips">更新至02集</div> <a href="326.html" title="猎狐" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="326.html" title="猎狐">猎狐</a></span>
</div></li>                    <li><div class="v-pic">
    <img data-src="../static/picture/905133230cd08e9ec726ccb1863efb56.jpg" class="thumb" alt="成化十四年">
    <div class="v-tips">更新至20集</div> <a href="408.html" title="成化十四年" class="v-playBtn"><i></i></a>
</div>
<div class="v-txt">
    <span class="v-tit"><a href="408.html" title="成化十四年">成化十四年</a></span>
</div></li>			</ul>
            </div>
            <div class="tv-hd v-border">
                <h2><span>影片评论</span></h2><span class="s_num">共有<em>0</em>条影评</span>
            </div>
	<div class="mac_comment" id="mac_comment" data-id="310" data-mid="1"></div>
    <script>
        $(function(){
            MAC.Comment.Login = 0;
            MAC.Comment.Verify = 1;
            MAC.Comment.Init();
            MAC.Comment.Show(1);
        });
    </script>
        </div>
        <div class="col-r">
            <div class="tv-hd">
                <h2>本周 • 热播榜</h2></div>
            <div class="tv-bd">
                    <ul class="v-rank clearfix">
										<li><i class="i-rank_num">1</i><em class="v-num">24集全</em><span class="v-tit"><a href="190.html" title="夺宝惊魂">夺宝惊魂</a></span></li>
										<li><i class="i-rank_num">2</i><em class="v-num">更新到40集</em><span class="v-tit"><a href="338.html" title="黑土地黄棉袄">黑土地黄棉袄</a></span></li>
										<li><i class="i-rank_num">3</i><em class="v-num">更新至10集</em><span class="v-tit"><a href="369.html" title="致我们甜甜的小美满">致我们甜甜的小美满</a></span></li>
										<li><i class="i-rank_num">4</i><em class="v-num">更新至11集</em><span class="v-tit"><a href="295.html" title="清平乐[DVD版]">清平乐[DVD版]</a></span></li>
										<li><i class="i-rank_num">5</i><em class="v-num">更新到21集</em><span class="v-tit"><a href="75.html" title="网络年代">网络年代</a></span></li>
										<li><i class="i-rank_num">6</i><em class="v-num">更新至16集</em><span class="v-tit"><a href="191.html" title="两世欢">两世欢</a></span></li>
										<li><i class="i-rank_num">7</i><em class="v-num">更新至15集</em><span class="v-tit"><a href="181.html" title="安家">安家</a></span></li>
										<li><i class="i-rank_num">8</i><em class="v-num">更新到24集</em><span class="v-tit"><a href="103.html" title="一锁五十年">一锁五十年</a></span></li>
										<li><i class="i-rank_num">9</i><em class="v-num"></em><span class="v-tit"><a href="99.html" title="孩奴">孩奴</a></span></li>
										<li><i class="i-rank_num">10</i><em class="v-num">40集全</em><span class="v-tit"><a href="204.html" title="决胜法庭">决胜法庭</a></span></li>
										</ul>
            </div>
            <div class="tv-hd">
                <h2>本月 • 热播榜</h2></div>
            <div class="tv-bd">
                    <ul class="v-rank clearfix">
										<li><i class="i-rank_num">1</i><em class="v-num">更新到21集</em><span class="v-tit"><a href="75.html" title="网络年代">网络年代</a></span></li>
										<li><i class="i-rank_num">2</i><em class="v-num">全42集</em><span class="v-tit"><a href="javascript:;" title="幸福院">幸福院</a></span></li>
										<li><i class="i-rank_num">3</i><em class="v-num">更新至10集</em><span class="v-tit"><a href="313.html" title="我是余欢水">我是余欢水</a></span></li>
										<li><i class="i-rank_num">4</i><em class="v-num">更新至18集</em><span class="v-tit"><a href="javascript:;" title="完美关系[DVD版]">完美关系[DVD版]</a></span></li>
										<li><i class="i-rank_num">5</i><em class="v-num">更新至18集</em><span class="v-tit"><a href="40.html" title="完美关系DVD版">完美关系DVD版</a></span></li>
										<li><i class="i-rank_num">6</i><em class="v-num">更新到9集</em><span class="v-tit"><a href="320.html" title="我们在梦开始的地方">我们在梦开始的地方</a></span></li>
										<li><i class="i-rank_num">7</i><em class="v-num">全50集</em><span class="v-tit"><a href="327.html" title="飞哥战队">飞哥战队</a></span></li>
										<li><i class="i-rank_num">8</i><em class="v-num">全36集</em><span class="v-tit"><a href="1241.html" title="大唐歌飞">大唐歌飞</a></span></li>
										<li><i class="i-rank_num">9</i><em class="v-num">更新到24集</em><span class="v-tit"><a href="74.html" title="道德底线">道德底线</a></span></li>
										<li><i class="i-rank_num">10</i><em class="v-num"></em><span class="v-tit"><a href="99.html" title="孩奴">孩奴</a></span></li>
					                    </ul>
            </div>
        </div>
    </section>
<span style="display:none" class="mac_ulog_set" alt="设置播放页浏览记录" data-type="4" data-mid="1" data-id="310" data-sid="1" data-nid="6"></span>
<span style="display:none" class="mac_history_set" alt="设置History历史记录" data-name="[国产剧]九州天空城2" data-pic="https://ziyuan.nuoxun.net/upload/vod/20200321-1/936b377f43f02ab262eff81cad1d1310.jpg"></span>
<!-- 页脚 -->
    <footer class="ifoot">
        <nav class="bnav">
				<a href="movie_list.html" title="电影">热播电影</a>
				<a href="2.html" title="连续剧">热播连续剧</a>
				<a href="3.html" title="综艺">热播综艺</a>
				<a href="comic_list.html" title="动漫">热播动漫</a>
				<a href="5.html" title="资讯">热播资讯</a>
				<a href="index2.html" title="留言求片">留言求片</a>
		</nav>
        <p>免责声明:本网站所有内容均系收集于各大网站，本站只提供WEB页面服务，并不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢合作。</p>
        <p class="en">343.pc16.cn站长邮箱:123456@maccms.com</p>
		<p class="en">统计代码</p>
    </footer>
    <script src="../static/js/lazyload.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>