<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <title>收藏</title>
    <link rel="stylesheet" href="/css/user_base.css">
    <link href="/css/app.87b0.css" rel="stylesheet">
    <link href="/css/x_fixed_tool.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/x_dialog.css">

    <script src="/js/jquery.js"></script>
</head>
<body _wind="scene=个人中心" class="page_user_center">


<!--引入头部部分-->
<div th:replace="/common/head.html"></div>


<div class="site_wrapper cf">

    <div th:replace="/common/user_navigate.html"></div>

    <div _wind="pagename=收藏" style="margin-top: 25px;" class="site_main">
        <div class="collect_tab_main">
            <div class="collect_tabs">
                <div class="collect_tab_active collect_tab_item pos" style="margin-right: 13px;" id="all" ><span th:text="'全部('+${allCollections.data.size()}+')'">全部(6)</span></div>
<!--                <p class="collect_tab_item pos collect_tab_active" style="margin-right: 13px;">全部</p>-->
                <div id="movie" class="collect_tab_item pos" style="margin-right: 13px;"><span th:text="'电影('+${movieCollections.data.size()}+')'">电影(1)</span></div>
                <div id="comic"  class="collect_tab_item pos" style="margin-right: 13px;"><span th:text="'动漫('+${comicCollections.data.size()}+')'">动漫(1)</span></div>
                <div id="others" class="collect_tab_item pos" style="margin-right: 13px;"  ><span th:text="'其他('+${comicCollections.data.size()}+')'">其他(2)</span></div>
            </div>
            <span class="icon_btn pos collect_clear">
                <svg viewBox="0 0 14 14" width="14" height="14">
                    <use xlink:href="#svg_clear_all"></use>
                </svg>清除全部
            </span>
        </div>

        <!--动漫和电影全部的收藏列表-->
        <div class="page_history_mod" id="allCollections">

            <div th:each="collection:${allCollections.data}" class="history_item item_size " >
                <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:href="'/index/detail/'+${collection.mid}+'.html'" class="history_item_top del_par">
                    <img class="history_item_pic" th:src="${collection.image}" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0" style="width: 190px;height: 230px">
                    <span class="history_item_update">更新至92集</span>
                    <div class="hover_mask">
                        <div class="hover_mask_play"></div>
                        <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                            <use xlink:href="#svg_clear_item"></use>
                        </svg>
                    </div>
                </a>
                <strong class="history_item_title nowrap_two">
                    <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:src="'/index/detail'+${collection.mid}+'.html'" th:text="${collection.movieName}" title="武庚纪 第70话" >武庚纪</a>
                </strong>

            </div>

        </div>

        <!--电影收藏列表-->
        <div class="page_history_mod" style="display: none" id="movieCollections">

            <div th:each="collection:${movieCollections.data}" class="history_item item_size " >
                <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:href="'/index/detail/'+${collection.mid}+'.html'" class="history_item_top del_par">
                    <img class="history_item_pic" th:src="${collection.image}" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0" style="width: 190px;height: 230px">
                    <span class="history_item_update">更新至92集</span>
                    <div class="hover_mask">
                        <div class="hover_mask_play"></div>
                        <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                            <use xlink:href="#svg_clear_item"></use>
                        </svg>
                    </div>
                </a>
                <strong class="history_item_title nowrap_two">
                    <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:src="'/index/detail'+${collection.mid}+'.html'" th:text="${collection.movieName}" title="武庚纪 第70话" >武庚纪</a>
                </strong>

            </div>

        </div>

        <!--动漫收藏列表-->
        <div class="page_history_mod" style="display: none" id="comicCollections">

            <div th:each="collection:${comicCollections.data}" class="history_item item_size " >
                <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:href="'/index/detail/'+${collection.mid}+'.html'" class="history_item_top del_par">
                    <img class="history_item_pic" th:src="${collection.image}" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0" style="width: 190px;height: 230px">
                    <span class="history_item_update">更新至92集</span>
                    <div class="hover_mask">
                        <div class="hover_mask_play"></div>
                        <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                            <use xlink:href="#svg_clear_item"></use>
                        </svg>
                    </div>
                </a>
                <strong class="history_item_title nowrap_two">
                    <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" th:src="'/index/detail'+${collection.mid}+'.html'" th:text="${collection.movieName}" title="武庚纪 第70话" >武庚纪</a>
                </strong>

            </div>

        </div>

    </div>



</div>

<div id="app"></div>

<script language="JavaScript">

    $(function () {

        $("#all").on("click",function () {
            $.selectCategory('all')
        })

        $("#movie").on("click",function () {
            $.selectCategory('movie')
        })

        $("#comic").on("click",function () {
            $.selectCategory('comic')
        })

        $.selectCategory = function (category) {

            if (category !== 'movie'){
                $("#movieCollections").css('display','none')
                $("#movie").removeClass("collect_tab_active")
            }else {
                $("#movieCollections").css('display','block')
                $("#movie").addClass("collect_tab_active")
            }

            if (category !== 'comic'){
                $("#comicCollections").css('display','none')
                $("#comic").removeClass("collect_tab_active")
            }else {
                $("#comicCollections").css('display','block')
                $("#comic").addClass("collect_tab_active")
            }

            if (category !== 'all'){
                $("#allCollections").css('display','none')
                $("#all").removeClass("collect_tab_active")
            }else {
                $("#allCollections").css('display','block')
                $("#all").addClass("collect_tab_active")
            }

            // alert(category)
        }

    })

</script>

<!--<script type="text/javascript" src="//vm.gtimg.cn/tencentvideo/usercenter/app.ee31.js"></script>-->
<iframe style="display:none;" src="//video.qq.com/getcookie/cookie.html" frameborder="0"></iframe>


</body>
</html>