<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>我的收藏</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="../static/css/home.css" rel="stylesheet" type="text/css">
    <link href="../static/css/member.css" type="text/css" rel="stylesheet">
    <script src="template/helen_ten/js/tab.js" type="text/javascript"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.lazyload.js"></script>
    <script src="../static/js/jquery.autocomplete.js"></script>
    <script src="template/helen_ten/js/jquery.superslide.js"></script>
    <script src="template/helen_ten/js/jquery.lazyload.js"></script>
    <script>var maccms={"path":"","mid":"6","url":"343.pc16.cn","wapurl":"343.pc16.cn","mob_status":"2"};</script>
    <script src="../static/js/home.js"></script>
    <script src="template/helen_ten/js/formValidator-4.0.1.js" type="text/javascript"></script>
    <script src="../static/js/jquery.imageupload.js"></script>

</head>
<body>
<div class="header">
    <div class="layout fn-clear">
        <div class="logo">
            <a href="/"><img width="157" height="42" src="/template/helen_ten/images/logo.png" alt=""></a>
        </div>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">返回首页</a></li>
            <li class="nav-item"><a class="nav-link">111111</a></li>
            <li class="nav-item"><a class="nav-link" href="/index.php/user/logout.html">退出</a></li>
        </ul>
    </div>
</div>
<!-- // i-header end -->


<!-- 会员中心 -->
<div id="member" class="fn-clear">
    <div id="left">
        <div class="tou"><img class="face" src="../static/images/111.jpg" alt="会员头像"><p>111111<br />默认会员</p></div>
        <ul>
            <li class="hover"><a href="userInfo.html">我的资料</a></li>
            <li><a href="fav.html">我的收藏</a></li>
            <li><a href="plays.html">播放记录</a></li>
            <li><a href="downs.html">下载记录</a></li>
            <li><a href="buy.html">在线充值</a></li>
            <li><a href="upgrade.html">升级会员</a></li>
            <li><a href="orders.html">充值记录</a></li>
        </ul>
    </div>
    <div id="right">
        <h2>我的收藏</h2>
        <div class="gong">
            <a href="javascript:;" onclick="MAC.CheckBox.All('ids[]');">全选</a>
            <a href="javascript:;" onclick="MAC.CheckBox.Other('ids[]');">反选</a>
            <a href="javascript:;" id="btnDel">删除</a>
            <a href="javascript:;" id="btnClear">清空</a>
        </div>
        <table width="770" border="0" cellspacing="1" cellpadding="0" class="table">
            <tbody><tr>
                <td width="66" height="36" align="center" valign="middle" bgcolor="#f7f7f7">选择</td>
                <td width="80" align="center" valign="middle" bgcolor="#f7f7f7">编号</td>
                <td width="539" align="center" valign="middle" bgcolor="#f7f7f7">名称</td>
                <td width="80" align="center" valign="middle" bgcolor="#f7f7f7">操作</td>
            </tr>
            <form id="form1" name="form1" method="post"></form>

            </tbody></table>
        <div class="member-page">
            <em>共0条</em>
            <a class="page_link" href="" title="首页">首页</a>
            <a class="page_link" href="" title="上一页">上一页</a>
            <a class="page_link" href="" title="下一页">下一页</a>
            <a class="page_link" href="" title="尾页">尾页</a>
            <em>到第</em><input type="text" name="" class="page-input"><em>页</em><input type="submit" class="page-button" value="确定">
        </div>
    </div>
</div>
<script>
    function delData(ids,all){
        var msg ='删除';
        if(all==1){
            msg='清空';
        }
        if(confirm('确定要'+msg+'记录吗')){
            $.post("/index.php/user/ulog_del.html",{ids:ids,type:2,all:all},function(data) {
                if (data.code == '1') {
                    alert('删除成功');
                    location.reload();
                }else {
                    alert('删除失败：' + data.msg);
                }
            }, 'json')
        }
    }
    $("#btnClear").click(function(){
        delData('',1);
    });
    $("#btnDel").click(function(){
        var ids = MAC.CheckBox.Ids('ids[]');
        if(ids==''){
            alert("请至少选择一个数据");
            return;
        }
        delData(ids,0);
    });
</script>
<!-- // sign-content end -->
<div class="footer">
    <div class="layout">
        <!--<div class="foot-nav">
            <a href="{maccms:link_gbook}" target="_blank" title="给我留言">给我留言</a>-<a href="{maccms:link_map_vod}" target="_blank" title="网站地图">网站地图</a>-<a href="{maccms:link_map_rss}" target="_blank" title="RSS订阅">RSS订阅</a>-<a href="{maccms:link_map_baidu}" target="_blank" title="BaiduRSS">BaiduRSS</a>-<a href="{maccms:link_map_google}" target="_blank" title="GoogleRSS">GoogleRSS</a>
        </div>-->
        <!-- // foot-nav End -->
        <div class="copyright">
            <p>
                本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传
            </p>
            <p>
                若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢
            </p>
            <p>
                Copyright © 2008-2018 <a class="color" href="http://343.pc16.cn">免费电影 - 苹果CMS343.pc16.cn</a>
            </p>
        </div>
        <!-- // maxBox End -->
    </div>
</div>
<!-- // footer end -->

</body>
</html>