<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon " type="images/x-icon" href="/images/icon.jpg">
		<link href="../static/css/app.css" rel="stylesheet" type="text/css">
		<link href="../static/css/member.css" type="text/css" rel="stylesheet">
		<script src="../static/js/jquery.min.js"></script>
		<link href="../static/css/swiper.min.css" rel="stylesheet" type="text/css">
		<script src="../static/js/swiper.min.js"></script>
		<script src="../static/js/iconfont.js"></script>
		<script>var maccms={"path":"","mid":"1","url":"343.pc16.cn","wapurl":"343.pc16.cn","mob_status":"2"};</script>
		<script src="../static/js/home.js"></script>
		<script src="../static/layer/layer.js"></script>
<!--		<script src="../static/layer/mobile/layer.js"></script>-->
		<title></title>

		<script type="text/javascript">
			$(document).ready(function(){
				$("#movie_list").click(function(){
					$("#movie_list").addClass("cur");
				});

				$('#test2').on('click', function(){
					layer.open({
						type: 1,
						area: ['600px', '400px'],
						shadeClose: true, //点击遮罩关闭
						// content: '\<\div style="padding:20px;">自定义内容\<\/div>'
						content: '<div class="reg-w" style="padding-left: 80px; padding-top: 0px;height: 320px;width: 600px">\n' +
								'        <form method="post" id="fm" action="index.html">\n' +
								'            <h4>账户信息</h4>\n' +
								'            <div class="reg-group">\n' +
								'                <label class="bd-r" style="letter-spacing: normal;">账号</label>\n' +
								'                <input type="text" id="user_name" name="user_name" class="reg-control" placeholder="请输入您的登录账号">\n' +
								'            </div>\n' +
								'            <div class="reg-group">\n' +
								'                <label>密码</label>\n' +
								'                <input type="password" id="user_pwd" name="user_pwd" class="reg-control" placeholder="请输入您的登录密码">\n' +
								'            </div>\n' +
								'            <input type="button" id="btn_submit" class="btn-brand btn-sub" value="立即登录">\n' +
								'        </form>\n' +
								'    </div>'
					});
				});

				$("#btn_submit").click(function () {
					alert("ffff")
				})

			});




		</script>

<!--		<style type="text/css">
			.sitenav a.cur:hover, .sitenav a:hover {
				color: #00b38b
			}
			.aaa {
				background-color: #1b1b1b;
			}
			#aaa{
				background-color: #1b1b1b;
			}

		</style>-->
	</head>
	<body>


	<button id="test2">aaaaaa</button>

	<header class="itopbar">



		<div class="container">
			<h1 class="ilogo"><a href="" title="logo"><img src="../static/picture/logo.png" alt="免费电影"><span>免费电影</span></a>
			</h1>
			<nav class="sitenav">
				<a href="javascript:;" id="index">首页</a>
<!--				<a href="./index.html" class="cur" id="index">首页</a>-->
				<a href="javascript:;" id="movie_list">电影</a>
				<a href="javascript:;" id="comic_list">动漫</a>

			</nav>
			<div class="itr">
				<div class="mod">
					<a href="javascript:;" class="mac_history"><i class="iconfont">&#xe62b;</i>看过<span class="caret"></span></a>
				</div>
				<div class="mod"><a href="javascript:;" class="mac_user"><i class="iconfont">&#xe62c;</i>会员</a></div>
			</div>
			<span class="searchstart-on"><i class="iconfont">&#xe61e;</i></span><span class="searchstart-off"><i
				class="iconfont">&#xe622;</i></span>
			<form name="formsearch" class="searchform" action="/index.php/vod/search.html" autocomplete="off">
				<input class="ipt" placeholder="输入影片片名或演员名称。" name="wd" type="text" id="wd" required="">
				<!-- <input type="submit" id="searchbutton" value="" class="hide"><a href="javascript:" class="ibtn" title="搜索" onclick="$('.searchform').submit();"><i class="iconfont">&#xe61e;</i> 搜索</a> -->
				<input type="submit" id="searchbutton" value="" class="hide"><a href="search.html" class="ibtn" title="搜索"
																				onclick="$('.searchform').submit();"><i
					class="iconfont">&#xe61e;</i> 搜索</a>
			</form>
		</div>
	</header>



	<!--<script language="javascript">

		$(function () {
			$("#movie_list").click(function () {
				$("#movie_list").addClass("cur")
				alert("aaa")
			})
		})

	</script>-->
	</body>
</html>
