<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--首页静态模块-->
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>迷你酷影</title>
    <meta name="keywords" content="免费在线电影">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="shortcut icon " type="images/x-icon" href="/images/icon.jpg">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/top.css">

    <script src="/js/jquery.js"></script>

    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <script src="/js/iconfont.js"></script>

    <style>
        .quick_link {
            display: block;
            z-index: 11;
            position: relative;
            width: 36px;
            height: 26px;
            padding: 0;
            color: #999;
            text-decoration: none;
            cursor: pointer
        }
    </style>
</head>
<body>

<header class="itopbar">

    <div class="container">
        <!--引入公共头部部分-->
<!--        <div th:replace="/common/head.html"></div>-->

        <div class="site_head site_head_channel" id="new_vs_header">
            <div class="head_inner">

                <div class="site_channel" style="padding-left: 30px">

                    <a href="/" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >首页</a>
                    <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>-->
                    <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>


                    <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>-->
                    <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>

                    <a href="/comic-list.html" th:style="${category=='comic'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_4 _channel_nav_动漫" >动漫</a>

                    <a href="/category/search" class="channel_more _site_channel_more" title="展开更多频道" _stat="顶部导航区:主导航:全部频道">
                        <span class="icon_text" style="font-size: x-large;margin-left: 20px">全部</span>
                        <svg class="svg_icon_menu_sm" viewBox="0 0 18 18" width="18" height="18">
                            <g class="svg_before">
                                <circle cx="5" cy="5" r="2.4" fill="none" stroke="#ffb821" stroke-width="1.2"></circle>
                                <circle cx="5" cy="13" r="2.4" fill="none" stroke="#fc5131" stroke-width="1.2"></circle>
                                <circle cx="13" cy="5" r="2.4" fill="none" stroke="#ff1919" stroke-width="1.2"></circle>
                                <circle cx="13" cy="13" r="2.4" fill="none" stroke="#ff147c" stroke-width="1.2"></circle>
                            </g>
                        </svg>
                    </a>
                </div>

                <img class="unusual_pic none" data-choice="" data-tv="" data-movie="" data-variety="" data-cartoon=""
                     data-child="" data-doco="" data-hlw="" data-music="" data-feeds_hotspot=""
                     src="//puui.qpic.cn/vupload/0/common_blank.png/0" alt="">

                <div class="mod_search">
                    <form id="searchForm" action="/search.html" method="get" target="_blank" class="search_form cf">
                        <label class="search_label" for="keyword">搜索关键词</label>
                        <div class="search_keywords">
                            <input type="text" name="kw" id="keyword" class="search_input" placeholder="斗罗大陆"  value="斗罗大陆">
                        </div>

                        <button class="search_btn" id="searchBtn">
                            <svg class="svg_icon svg_icon_search" viewBox="0 0 18 18" width="18" height="18">
                                <path d="M4.5 4.5c-1.9 1.9-1.9 5.1 0 7.1s5.1 1.9 7.1 0 1.9-5.1 0-7.1-5.2-2-7.1 0zm10.8 12.2l-3.1-3.1c-2.7 2-6.6 1.9-9.1-.6C.3 10.2.3 5.8 3 3 5.7.3 10.2.3 12.9 3c2.5 2.5 2.7 6.4.6 9.1l3.1 3.1c.4.4.4 1 0 1.4-.3.5-.9.5-1.3.1z"
                                      fill="currentColor"></path>
                            </svg>
                            <span class="btn_inner" >搜索</span>
                        </button>
                        <a class="btn_search_hot" href="#"
                           target="_blank" title="热搜榜">
                            <svg class="svg_icon_fire" width="12" height="15" viewBox="0 0 12 15">

                                <path d="M6.634 17C2.539 14.21 1.905 10.843 4.73 6.898 6.307 4.845 7.253 4.053 7.253 2c.353.183 5.134 2.569 4.024 7.5 1.01-.505 1.684-1.659 2.025-3.463 2.28 3.767 2.264 6.9-.051 9.4-.489.528-1.211 1.05-1.873 1.563-1.33-.625-2.932-1.875-3.573-5.625C6.524 12.833 6.133 14.708 6.634 17z"
                                      fill="url(#__gradient_fire)" transform="translate(-3 -2)"></path>
                            </svg>
                            热搜榜
                        </a>
                    </form>
                </div>
                <!-- 快捷入口 开始 -->
                <div class="mod_quick cf">

                    <!-- 历史浮层 -->
                    <div class="quick_item quick_history" id="modHistory" style="margin-left: 20px;">
                        <a href="https://v.qq.com/biu/u/history/" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/history'" class="quick_link" target="_blank" _stat="顶部导航区:观看历史">

                            <svg class="svg_quick_icon svg_icon_time" viewBox="0 0 26 26" width="26" height="26">
                                <circle cx="13" cy="13" r="11" fill="none" stroke="currentColor" stroke-width="2"></circle>
                                <path d="M14 13h3c.6 0 1 .4 1 1s-.4 1-1 1h-4c-.6 0-1-.4-1-1V8c0-.6.4-1 1-1s1 .4 1 1v5z"
                                      fill="currentColor"></path>
                            </svg>

                            <span class="quick_text">看过</span></a>

                    </div>

                    <div class="quick_item quick_user" id="mod_head_user" style="margin-left: 40px;margin-right: 30px">
                        <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}" class="quick_link _checklogin" id="mod_head_notice_trigger">
                            <img class="quick_user_avatar" th:src="${#httpServletRequest.getAttribute('face')==null}?'/images/user.jpg':${#httpServletRequest.getAttribute('face')}" style="border-radius: 50%;overflow: hidden" src="/images/user.jpg" >

                        </a>

                    </div>
                    <!--            <input type="button" value="退出" style="font-size: medium">-->
                    <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:text="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" style="font-size: medium"></a>
                    <!--            <input type="button" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:value="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" value="请登录" style="font-size: medium">-->
                </div>
                <!-- 快捷入口 结束 -->

            </div>

        </div>

    </div>
</header>
<!--幻灯片开始-->
<div class="slide">
    <div class="slide-box">
        <ul>
            <li class="slide-li"
                style="background:#000000 url(/images/index.jpg) 50% 0 no-repeat;">
                <a href="/index/detail/300008370.html" title="海贼王" target="_blank">海贼王</a></li>
        </ul>
    </div>
    <div class="slide-item box">
        <div class="slide-detail"><a href="/index/detail/210000000.html" title="斗罗大陆" target="_blank" class="img"><img
                src="//puui.qpic.cn/vcover_vt_pic/0/m441e3rjq9kwpsc1575196882/220"
                alt="幸福敲了两次门"></a>
            <div class="slide-txt">
                <h2><a href="/index/detail/210000000.html" title="斗罗大陆">斗罗大陆</a></h2>
<!--                <p>范·迪塞尔|米歇尔·罗德里格兹|查理兹·塞隆</p>-->
            </div>
        </div>
    </div>
    <!--<div class="slide-img">
        <a href="31.html" target="_blank">
            <img src="/images/02.jpg" alt="幸福敲了两次门">
        </a>
    </div>-->
</div>
<!--幻灯片结束-->

<div class="icon">
    <div class="container">
        <section class="imain clearfix">
            <div class="col-l">
                <div class="tv-hd">
                    <h2>
                        <svg class="iconf" aria-hidden="true">
                            <use xlink:href="#icon-luxiang"></use>
                        </svg>
                        热播电影
                    </h2>
                    <!-- <div class="imore"><a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a><a href="movie_list.html">更多<i -->
                    <div class="imore">
                        <a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a>
                        <a href="/category/search">更多<i class="iconfont">&#xe613;</i></a>
                    </div>
                </div>


                <div class="tv-bd a_clist">
                    <div class="aclcon1 show fadeIn">
                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">

                                    <img th:src="${movieLeft01.imgUrls}" class="thumb" th:alt="${movieLeft01.movieName}"
                                         style="display: block;">
                                    <div class="v-tips" th:text="${movieLeft01.runTime}">蓝光</div>
                                    <a th:href="'/index/detail/'+${movieLeft01.mid} + '.html'" th:title="${movieLeft01.movieName}" class="v-playBtn"><i></i></a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a th:href="'/index/detail/'+${movieLeft01.mid} + '.html'" th:title="${movieLeft01.movieName}" th:text="${movieLeft01.movieName}">伏虎武松</a></em>
                                        <em class="em-score" th:text="${movieLeft01.ratingNum} + '分'">5.0分</em>
                                    </p>
                                    <p class="s-des" th:text="'演员：' + ${movieLeft01.mainActors}">演员：未知</p>
                                    <p class="s-des">导演：<a href="吕嘉华.html" target="_blank"
                                                           th:text="${movieLeft01.directors}">吕嘉华</a>&nbsp;&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="tv-r">

                            <ul class="tv-list">

                                <li th:each="movieInfo01:${movieInfos01}">
                                    <div class="v-pic">
                                        <img th:src="${movieInfo01.imgUrls}" class="thumb"
                                             th:alt="${movieInfo01.movieName}" style="display: block;">
                                        <div class="v-tips" th:text="${movieInfo01.runTime}">超清</div>
                                        <a th:href="'/index/detail/'+${movieInfo01.mid} + '.html'" th:title="${movieInfo01.movieName}"
                                           class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${movieInfo01.mid} + '.html'" th:title="${movieLeft01.movieName}"
                                               th:text="${movieInfo01.movieName}">xxxx</a></span>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="aclcon2 hide fadeOut">
                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">
                                    <img th:src="${movieLeft02.imgUrls}" class="thumb"
                                         th:alt="${movieLeft02.movieName}">
                                    <div class="v-tips" th:text="${movieLeft02.runTime}">高清</div>
                                    <a th:href="'/index/detail/'+${movieLeft02.mid} + '.html'" th:title="${movieLeft02.movieName}" class="v-playBtn"><i></i></a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a th:href="'/index/detail/'+${movieLeft02.mid} + '.html'" title="女汤"
                                               th:text="${movieLeft02.movieName}">女汤</a>
                                        </em>
                                        <em class="em-score" th:text="${movieLeft02.ratingNum} + '分'">5.0分</em>
                                    </p>
                                    <p class="s-des">演员：
                                        <a href="天心.html" target="_blank" th:text="${movieLeft02.mainActors}">天心</a>
                                        <!--<a href="天心.html" target="_blank">天心</a>&nbsp;&nbsp;
                                        <a href="高金素梅.html" target="_blank">高金素梅</a>&nbsp;&nbsp;
                                        <a href="叶全真.html" target="_blank">叶全真</a>&nbsp;&nbsp;
                                        <a href="王月.html" target="_blank">王月</a>&nbsp;&nbsp;-->
                                    </p>
                                    <p class="s-des">导演：
                                        <a href="刘怡明.html" target="_blank"
                                           th:text="${movieLeft02.directors}">刘怡明</a>&nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tv-r">
                            <ul class="tv-list">

                                <li th:each="movieInfo02:${movieInfos02}">
                                    <div class="v-pic">
                                        <img th:src="${movieInfo02.imgUrls}" class="thumb"
                                             th:alt="${movieInfo02.movieName}" style="display: block;">
                                        <div class="v-tips" th:text="${movieInfo02.runTime}">超清</div>
                                        <a th:href="'/index/detail/'+${movieInfo02.mid} + '.html'" th:title="${movieInfo02.movieName}"
                                           class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${movieInfo02.mid} + '.html'" th:title="${movieInfo02.movieName}"
                                               th:text="${movieInfo02.movieName}">伏虎武松</a></span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="aclcon3 hide fadeOut">
                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">
                                    <img th:src="${movieLeft03.imgUrls}" class="thumb"
                                         th:alt="${movieLeft03.movieName}">
                                    <div class="v-tips" th:text="${movieLeft03.runTime}">超清</div>
                                    <a th:href="'/index/detail/'+${movieLeft03.mid} + '.html'" th:title="${movieLeft03.movieName}" class="v-playBtn"><i></i></a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a href="'/index/detail/'+${movieLeft03.mid} + '.html'" th:title="${movieLeft03.movieName}"
                                               th:text="${movieLeft03.movieName}">滚动的钢蛋</a></em>
                                        <em class="em-score" th:text="${movieLeft03.ratingNum} + '分'">1.0分</em>
                                    </p>
                                    <p class="s-des">演员：
                                        <a href="李易祥.html" target="_blank" th:text="${movieLeft03.mainActors}">李易祥</a>
                                        <!--<a href="李易祥.html" target="_blank">李易祥</a>&nbsp;&nbsp;
                                        <a href="李春啸.html" target="_blank">李春啸</a>&nbsp;-->&nbsp;
                                    </p>
                                    <p class="s-des">导演：<a href="李春啸.html" target="_blank"
                                                           th:text="${movieLeft03.directors}">李春啸</a>&nbsp;&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div class="tv-r">
                            <ul class="tv-list">

                                <li th:each="movieInfo03:${movieInfos03}">
                                    <div class="v-pic">
                                        <img th:src="${movieInfo03.imgUrls}" class="thumb"
                                             th:alt="${movieInfo03.movieName}" style="display: block;">
                                        <div class="v-tips" th:text="${movieInfo03.runTime}">超清</div>
                                        <a th:href="'/index/detail/'+${movieInfo03.mid} + '.html'" th:title="${movieInfo03.movieName}"
                                           class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${movieInfo03.mid} + '.html'" th:title="${movieInfo03.movieName}"
                                               th:text="${movieInfo03.movieName}">伏虎武松</a>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-r">

                <!--引入电影排行榜公共模块-->
<!--                <div th:insert="/common/rankingOfMovie.html"></div>-->

                <div class="tv-hd">
                    <h2>电影 • 排行榜</h2>
                </div>
                <div class="tv-bd">
                    <ul class="v-rank clearfix">

                        <li th:each="movie,movieStat:${topMovies.data.movieList}">
                            <i class="i-rank_num" th:text="${movieStat.count}">1</i>
                            <em class="v-num">高清</em>
                            <span class="v-tit">
                <a href="334.html" th:href="'/index/detail/'+${movie.mid}+'.html'" th:text="${movie.movieName}" title="神都蜜探">神都蜜探</a>
            </span>
                        </li>

                    </ul>
                </div>

            </div>
        </section>

        <section class="imain clearfix">
            <div class="col-l">
                <div class="tv-hd">
                    <h2>
                        <svg class="iconf" aria-hidden="true">
                            <use xlink:href="#icon-shoucang"></use>
                        </svg>
                        热播动漫
                    </h2>
                    <div class="imore">
                        <a href="javascript:;" class="a_change">换一换<i class="iconfont">&#xe62d;</i></a>
                        <a href="/category/search">更多<i class="iconfont">&#xe613;</i></a>
                    </div>
                </div>


                <div class="tv-bd a_clist">

                    <div class="aclcon1 hide fadeOut">

                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">
                                    <img th:src="${comicLeft01.imgUrls}" class="thumb" th:alt="${comicLeft01.movieName}" style="display: block;">
                                    <div class="v-tips" th:text="${comicLeft01.runTime}">高清</div>
                                    <a th:href="'/index/detail/'+${comicLeft01.mid} + '.html'"
                                       th:title="${comicLeft01.movieName}" class="v-playBtn"><i></i>
                                    </a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a th:href="'/index/detail/'+${comicLeft01.mid} + '.html'"
                                               th:text="${comicLeft01.movieName}">xxx</a></em>
                                        <em class="em-score" th:text="${comicLeft01.ratingNum} + '分'">2.0分</em>
                                    </p>
                                    <p class="s-des" th:text="'演员：' + ${comicLeft01.mainActors}">演员：未知</p>
                                    <p class="s-des" th:text="'导演：' + ${comicLeft01.directors}">导演：未知</p>
                                </div>
                            </div>
                        </div>


                        <div class="tv-r">
                            <ul class="tv-list">

                                <li th:each="comicInfo01:${comicInfos01}">
                                    <div class="v-pic">
                                        <img th:src="${comicInfo01.imgUrls}" class="thumb" th:alt="${comicInfo01.movieName}"
                                             style="display: block;">
                                        <div class="v-tips" th:text="${comicInfo01.runTime}">高清</div>
                                        <a th:href="'/index/detail/'+${comicInfo01.mid} + '.html'" th:title="${comicInfo01.movieName}" class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${comicInfo01.mid} + '.html'"
                                               th:text="${comicInfo01.movieName}">魔术士欧菲流浪之旅</a>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <div class="aclcon2 show fadeIn">
                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">
                                    <img th:src="${comicLeft02.imgUrls}" class="thumb" th:alt="${comicLeft02.movieName}" style="display: block;">
                                    <div class="v-tips" th:text="${comicLeft02.runTime}">高清</div>
                                    <a th:href="'/index/detail/'+${comicLeft02.mid} + '.html'" th:title="${comicLeft02.movieName}" class="v-playBtn"><i></i></a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a th:href="'/index/detail/'+${comicLeft02.mid} + '.html'"
                                               th:text="${comicLeft02.movieName}">非人哉</a></em>
                                        <em class="em-score" th:text="${comicLeft02.ratingNum} + '分'">2.0分</em>
                                    </p>
                                    <p class="s-des" th:text="'演员：' + ${comicLeft02.mainActors}">演员：未知</p>
                                    <p class="s-des" th:text="'导演：' + ${comicLeft02.directors}">导演：未知</p>
                                </div>
                            </div>
                        </div>
                        <div class="tv-r">
                            <ul class="tv-list">

                                <li th:each="comicInfo02:${comicInfos02}">
                                    <div class="v-pic">
                                        <img th:src="${comicInfo02.imgUrls}" class="thumb" th:alt="${comicInfo02.movieName}"
                                             style="display: block;">
                                        <div class="v-tips" th:text="${comicInfo02.runTime}">高清</div>
                                        <a th:href="'/index/detail/'+${comicInfo02.mid} + '.html'"  th:title="${comicInfo02.movieName}" class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${comicInfo02.mid} + '.html'"
                                               th:text="${comicInfo02.movieName}">魔术士欧菲流浪之旅</a>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="aclcon3 hide fadeOut">
                        <div class="tv-l">
                            <div class="tvhots">
                                <div class="v-pic">
                                    <img th:src="${comicLeft03.imgUrls}" class="thumb" th:alt="${comicLeft03.movieName}" style="display: block;">
                                    <div class="v-tips" th:text="${comicLeft03.runTime}">高清</div>
                                    <a th:href="'/index/detail/'+${comicLeft03.mid} + '.html'" class="v-playBtn"><i></i></a>
                                </div>
                                <div class="v-txt">
                                    <p class="v-tit">
                                        <em class="em-tit">
                                            <a th:href="'/index/detail/'+${comicLeft03.mid} + '.html'"
                                               th:text="${comicLeft03.movieName}">非人哉</a></em>
                                        <em class="em-score" th:text="${comicLeft03.ratingNum}">2.0分</em>
                                    </p>
                                    <p class="s-des" th:text="'演员：' + ${comicLeft03.mainActors}">演员：未知</p>
                                    <p class="s-des" th:text="'导演：' + ${comicLeft03.directors}">导演：未知</p>
                                </div>
                            </div>
                        </div>
                        <div class="tv-r">
                            <ul class="tv-list">

                                <li th:each="comicInfo03:${comicInfos03}">
                                    <div class="v-pic">
                                        <img th:src="${comicInfo03.imgUrls}" class="thumb" th:alt="${comicInfo03.movieName}"
                                             style="display: block;">
                                        <div class="v-tips" th:text="${comicInfo03.runTime}">高清</div>
                                        <a th:href="'/index/detail/'+${comicInfo03.mid} + '.html'" th:title="${comicInfo03.movieName}" class="v-playBtn"><i></i></a>
                                    </div>
                                    <div class="v-txt">
                                        <span class="v-tit">
                                            <a th:href="'/index/detail/'+${comicInfo03.mid} + '.html'"
                                               th:text="${comicInfo03.movieName}">魔术士欧菲流浪之旅</a>
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-r">

                <!--引入动漫排行榜模块-->
<!--                <div th:insert="/common/rankingOfComic.html"></div>-->

                <div class="tv-hd">
                    <h2>动漫 • 排行榜</h2>
                </div>
                <div class="tv-bd">
                    <ul class="v-rank clearfix">

                        <li th:each="comic,comicStat:${topComics.data.movieList}">
                            <i class="i-rank_num" th:texh="${comicStat.count}">1</i>
                            <em class="v-num">高清</em>
                            <span class="v-tit">
                <a href="334.html" th:href="'/index/detail/'+${comic.mid}+'.html'" th:text="${comic.movieName}" title="神都蜜探">神都蜜探</a>
            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </section>


        <section class="ilinks clearfix">
            <ul>
                <li>友情链接：</li>
            </ul>
        </section>
    </div>
</div>

<!-- 页脚 -->
<footer class="ifoot">
    <nav class="bnav">
        <a href="movie-list.html" title="电影">热播电影</a>
        <a href="comic-list.html" title="动漫">热播动漫</a>
        <a href="javascript:(void);" title="留言求片">留言求片</a>
    </nav>
    <p>免责声明:本网站所有内容均系收集于各大网站，本站只提供WEB页面服务，并不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢合作。</p>
    <p class="en">站长邮箱:123456@qq.com</p>
</footer>
<script src="/js/app.js"></script>

</body>
</html>
