<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>电影播放</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link type="images/vnd.microsoft.icon" href="/favicon.png" rel="shortcut icon">
    <link rel="shortcut icon " type="images/x-icon" href="/images/icon.jpg">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/top.css">

    <script src="/js/comment.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/layer/layer.js"></script>

</head>
<body>
<header class="itopbar">

    <div class="container">
        <!-- 引入公共头部部分-->
<!--        <div th:replace="/common/head.html"></div>-->
        <div class="site_head site_head_channel" id="new_vs_header">
            <div class="head_inner">

                <div class="site_channel" style="padding-left: 30px">

                    <a href="/" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >首页</a>
                    <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>-->
                    <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>


                    <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>-->
                    <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>

                    <a href="/comic-list.html" th:style="${category=='comic'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_4 _channel_nav_动漫" >动漫</a>

                    <a href="/category/search" class="channel_more _site_channel_more" title="展开更多频道" _stat="顶部导航区:主导航:全部频道">
                        <span class="icon_text" style="font-size: x-large;margin-left: 20px">全部</span>
                        <svg class="svg_icon_menu_sm" viewBox="0 0 18 18" width="18" height="18">
                            <g class="svg_before">
                                <circle cx="5" cy="5" r="2.4" fill="none" stroke="#ffb821" stroke-width="1.2"></circle>
                                <circle cx="5" cy="13" r="2.4" fill="none" stroke="#fc5131" stroke-width="1.2"></circle>
                                <circle cx="13" cy="5" r="2.4" fill="none" stroke="#ff1919" stroke-width="1.2"></circle>
                                <circle cx="13" cy="13" r="2.4" fill="none" stroke="#ff147c" stroke-width="1.2"></circle>
                            </g>
                        </svg>
                    </a>
                </div>

                <img class="unusual_pic none" data-choice="" data-tv="" data-movie="" data-variety="" data-cartoon=""
                     data-child="" data-doco="" data-hlw="" data-music="" data-feeds_hotspot=""
                     src="//puui.qpic.cn/vupload/0/common_blank.png/0" alt="">

                <div class="mod_search">
                    <form id="searchForm" action="/search.html" method="get" target="_blank" class="search_form cf">
                        <label class="search_label" for="keyword">搜索关键词</label>
                        <div class="search_keywords">
                            <input type="text" name="kw" id="keyword" class="search_input" placeholder="斗罗大陆"  value="斗罗大陆">
                        </div>

                        <button class="search_btn" id="searchBtn">
                            <svg class="svg_icon svg_icon_search" viewBox="0 0 18 18" width="18" height="18">
                                <path d="M4.5 4.5c-1.9 1.9-1.9 5.1 0 7.1s5.1 1.9 7.1 0 1.9-5.1 0-7.1-5.2-2-7.1 0zm10.8 12.2l-3.1-3.1c-2.7 2-6.6 1.9-9.1-.6C.3 10.2.3 5.8 3 3 5.7.3 10.2.3 12.9 3c2.5 2.5 2.7 6.4.6 9.1l3.1 3.1c.4.4.4 1 0 1.4-.3.5-.9.5-1.3.1z"
                                      fill="currentColor"></path>
                            </svg>
                            <span class="btn_inner" >搜索</span>
                        </button>
                        <a class="btn_search_hot" href="#"
                           target="_blank" title="热搜榜">
                            <svg class="svg_icon_fire" width="12" height="15" viewBox="0 0 12 15">

                                <path d="M6.634 17C2.539 14.21 1.905 10.843 4.73 6.898 6.307 4.845 7.253 4.053 7.253 2c.353.183 5.134 2.569 4.024 7.5 1.01-.505 1.684-1.659 2.025-3.463 2.28 3.767 2.264 6.9-.051 9.4-.489.528-1.211 1.05-1.873 1.563-1.33-.625-2.932-1.875-3.573-5.625C6.524 12.833 6.133 14.708 6.634 17z"
                                      fill="url(#__gradient_fire)" transform="translate(-3 -2)"></path>
                            </svg>
                            热搜榜
                        </a>
                    </form>
                </div>
                <!-- 快捷入口 开始 -->
                <div class="mod_quick cf">

                    <!-- 历史浮层 -->
                    <div class="quick_item quick_history" id="modHistory" style="margin-left: 20px;">
                        <a href="https://v.qq.com/biu/u/history/" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/history'" class="quick_link" target="_blank" _stat="顶部导航区:观看历史">

                            <svg class="svg_quick_icon svg_icon_time" viewBox="0 0 26 26" width="26" height="26">
                                <circle cx="13" cy="13" r="11" fill="none" stroke="currentColor" stroke-width="2"></circle>
                                <path d="M14 13h3c.6 0 1 .4 1 1s-.4 1-1 1h-4c-.6 0-1-.4-1-1V8c0-.6.4-1 1-1s1 .4 1 1v5z"
                                      fill="currentColor"></path>
                            </svg>

                            <span class="quick_text">看过</span></a>

                    </div>

                    <div class="quick_item quick_user" id="mod_head_user" style="margin-left: 40px;margin-right: 30px">
                        <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}" class="quick_link _checklogin" id="mod_head_notice_trigger">
                            <img class="quick_user_avatar" th:src="${#httpServletRequest.getAttribute('face')==null}?'/images/user.jpg':${#httpServletRequest.getAttribute('face')}" style="border-radius: 50%;overflow: hidden" src="/images/user.jpg" >

                        </a>

                    </div>
                    <!--            <input type="button" value="退出" style="font-size: medium">-->
                    <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:text="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" style="font-size: medium"></a>
                    <!--            <input type="button" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:value="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" value="请登录" style="font-size: medium">-->
                </div>
                <!-- 快捷入口 结束 -->

            </div>

        </div>

    </div>
</header>

<div class="icon" style="width: 1350px">
    <section class="iplaytop">
        <div class="container">
            <div class="col-l" style="width: 75%">
                <div class="mtips"><i class="iconfont"></i>
                    <div class="mtxt">正在播放：大醉侠 高清 电影</div>
                    <i class="iconfont" onclick="closeTips()"></i></div>
                <div class="iplays">
                    <script>
                        var player_data = {
                            "flag": "play",
                            "encrypt": 0,
                            "trysee": 0,
                            "points": 0,
                            "url_next": "",
                            "from": "qq",
                            "server": "no",
                            "note": ""
                        }
                    </script>

                    <style>
                        .MacPlayer {
                            background: #000000;
                            font-size: 14px;
                            color: #F6F6F6;
                            margin: 0px;
                            padding: 0px;
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            min-heigh: 300px;
                        }

                        .MacPlayer table {
                            width: 100%;
                            height: 100%;
                        }

                        .MacPlayer #playleft {
                            position: inherit;
                        !important;
                            width: 100%;
                            height: 100%;
                        }
                    </style>

                    <div class="MacPlayer">


                        <iframe id="buffer" src="/prestrain.html" frameborder="0" scrolling="no"
                                width="100%" height="100%"
                                style="position: absolute; z-index: 99998; display: none;">
                        </iframe>
                        <iframe id="install" src="" frameborder="0" scrolling="no" width="100%" height="100%"
                                style="position:absolute;z-index:99998;display:none;">
                        </iframe>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td id="playleft" valign="top" style="">
                                    <iframe width="100%" height="100%" id="playFrame"
                                            src="http://jx.98a.ink/?url=https://v.youku.com/v_show/id_XNDY1Njc3NjExMg==.html"
                                            th:src="${movieInfo.data.playUrl}"
                                            frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no"
                                            allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                                            msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <script src="/player/parse.js"></script>
                </div>
            </div>

            <div class="col-r" style="width: 25%">
                <div class="iptit">
                    <h3 th:text="${movieInfo.data.movieName}+'【电影】'">大醉侠 【电影】</h3>
                    <p>高清</p>
                </div>
                <div class="fjcon">
                    <div class="fjtop clearfix">
                        <a href="javascript:zush(1);" id="zush_1" class="fjtab cur">极速</a>
                    </div>
                    <div class="xjs xjs_1" style="display: block;">

                        <div class="xjn">
                            <ul class="play-list">

                                <input type="text" id="hiddenInput" hidden value="3">
                                <li th:each="url,urlStat:${urlList}" class="zhwli_1">
                                    <a class="cur" href="javascript:(void);" id="playUrls" th:text="${urlStat.count}">
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<section class="describe">
    <div class="video-intro container">
        <div class="video-title">
            <h1 th:text="${movieInfo.data.movieName}">大醉侠 高清</h1>
        </div>
        <div class="video-title" style="margin-left: 20px">
            <h1 id="playNum">第 1 集</h1>
        </div>

        <!--<div class="video-tags">
            <span class="tags">电影</span>
        </div>-->
        <div class="clearfix"></div>
        <p class="hoster">
            <span>导演：
                <a href="javascript:;" target="_blank" th:text="${movieInfo.data.directors}">胡金铨</a>&nbsp;&nbsp;
            </span>
            <span style="padding-left: 30px">主演：
                <a href="javascript:;" target="_blank" th:text="${movieInfo.data.mainActors}">郑佩佩</a>&nbsp;&nbsp;
            </span>
        </p>
        <div class="infor">
            <!--江湖败类“索命五虎”作恶多端，杀人如麻其老大被两江总督张大人俘获，不日问斩其余四虎铤而走险，劫走张大人之子张步青以作要挟。张步青之妹张熙燕（郑佩佩
            饰）武艺高强，人送绰号“金燕子”。为救兄长，张熙燕独-->
        </div>
    </div>
</section>

<div class="icon">
    <div class="container">
        <!--广告位1开始下方广告代码可以替换成自己的广告代码。如不需要请直接删除-->
    </div>
</div>

<section class="idetail container">
    <div class="col-l">
        <div class="tv-hd v-border">
            <h2><span>剧情介绍</span></h2>
        </div>
        <div class="tv-bd">
            <div class="infor_intro" th:text="${movieInfo.data.summery}">
                江湖败类“索命五虎”作恶多端，杀人如麻其老大被两江总督张大人俘获，不日问斩其余四虎铤而走险，劫走张大人之子张步青以作要挟。张步青之妹张熙燕（郑佩佩
                饰）武艺高强，人送绰号“金燕子”。为救兄长，张熙燕独闯虎穴，然恶徒狡猾非常，金燕子救兄不成，还险些丢掉性命。关键时刻，幸得隐于江湖的侠客范大悲（岳华 饰）出手搭救。
                范大悲曾为某寺院修行者，其师兄了空大师为夺掌门人之位杀害师傅，师傅临死前将丐帮掌门人信物交给范大悲。念及师兄弟之情，范从此隐姓埋名，以醉猫的诨号浪荡江湖。此次索命五虎与了空大师联手，势要将金燕子和范大悲斩草除根……
            </div>
        </div>

        <div class="tv-hd v-border">
            <h2><span>猜你喜欢</span></h2>
        </div>

        <div class="tv-bd">
            <ul class="tv-list tv-hotlist">


                <li th:each="movie:${userRecommendation}">
                    <div class="v-pic">
                        <img th:src="${movie.imgUrls}" data-src="/" class="thumb" alt="复仇" src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a th:href="'/index/detail/'+${movie.mid}+'.html'" href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a th:text="${movie.movieName}" th:href="'/index/detail/'+${movie.mid}+'.html'" href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>

            </ul>
        </div>


        <div class="tv-hd v-border">
            <h2><span>影片评论</span></h2><span class="s_num">共有<em id="countInPic"
                                                                th:utext="'('+${commentResult.data.count}+')'">0</em>条影评</span>
        </div>

        <!--引入评论模块，注意要在后面引入comment.js-->
<!--        <div th:replace="/common/comment.html"></div>-->
        <div class="mac_comment" id="mac_comment" data-id="638" data-mid="1">    <!--评论开始-->
            <input type="hidden" id="hiden_movieId" value="0" th:value="${movieInfo.data.mid}">
            <form class="comment_form cmt_form clearfix">
                <input type="hidden" name="comment_pid" value="0">
                <!--评论框-->
                <div class="input_wrap fl clearfix">
                    <textarea id="commentContent" class="comment_content fl" name="comment_content" placeholder="有事没事说两句..." ></textarea>
                    <div class="fl clearfix handle">
                        <div class="comment_face_panel face">
                            <i class="icon-face"></i>
                        </div>
                        <div class="comment_face_box face-box">

                        </div>
                        <div class="remaining-w">可以输入
                            <span class="comment_remaining remaining fr">200字</span>
                        </div>
                        <div class="smt fr clearfix">
                    <span style="display: none;">
                        <span></span>
                    </span>
<!--                            验证码:-->
<!--                            <input class="mac_verify cmt_text" type="text" id="verify" name="verify">-->
                            <input class="comment_submit cmt_post" type="button" id="commentBtn" value="发布">
                        </div>
                    </div>
                </div>

            </form>

            <div id="commentsList" class="cmt_wrap">
                <p class="smt_wrap fl clearfix">
            <span class="total fl">共
                <em id="item_count" th:value="${commentResult.data.count}"
                    th:utext="${commentResult.data.count}">0</em>条评论
            </span>
                </p>

                <div th:each="comment:${commentResult.data.commentVOList}" class="cmt_item clearfix">

                    <a class="face_wrap fl" href="javascript:;">
                        <img class="face" th:src="${comment?.face}"></a>
                    <div class="item_con fl">
                        <p class="top">
                            <span class="fr" th:utext="${comment?.date}">2020-05-04 22:06:17</span>
                            <a class="name" href="javascript:;" th:utext="${comment?.username}">游客</a>
                            (<a target="_blank">(117.136.124.19)</a>)
                        </p>
                        <p class="con" th:utext="${comment?.content}">富士达</p>
                        <div class="gw-action">
                    <span class="click-ding-gw">
                        <a class="digg_link" data-id="8" data-mid="6" data-type="up"
                           href="javascript:;">
                            <i class="icon-ding"></i>
                            <em class="digg_num icon-num" th:utext="${comment?.likeNum}">0</em>
                        </a>
                        <a class="digg_link" data-id="8" data-mid="6" data-type="down"
                           href="javascript:;">
                            <i class="icon-dw"></i>
                            <em class="digg_num icon-num"
                                th:utext="${comment?.dislikeNum}">0</em>
                        </a>
                    </span>
                            <a class="comment_reply" data-id="8" href="javascript:;">回复</a>
                            <a class="comment_report" data-id="8" href="javascript:;">举报</a>
                        </div>

                    </div>

                </div>


            </div>

            <!--评论结束-->
            <div class="mac_pages">
                <!--					        <div class="page_tip" id="countAtBottom" th:value="'共 '+${count} + ' 条数据'+','+'当前 '+${currentPage}+'/'+${totalPage}+' 页'"  th:utext="'共 '+${count} + ' 条数据'+','+'当前 '+${currentPage}+'/'+${totalPage}+' 页'"> <em th:text="'当前 '+${currentPage}+'/'+${totalPage}+' 页'">2222</em> 共2条数据,当前1/1页</div>-->
                <div class="page_tip" > <!--<em id="countAtBottom" th:text="'共 '+${count} + ' 条数据">333</em>-->
                    <em id="countAtBottom" th:text="'共 '+${commentResult.data.count} + ' 条数据'">共 0 条数据</em>
                    <em id="current_total" th:text="'当前 '+${commentResult.data.currentPage}+'/'+${commentResult.data.totalPage}+' 页'">2222</em>
                </div>
                <div class="page_info">
                    <a class="page_link" href="javascript:void(0);" title="首页" th:value="1" id="firstCommentPage">首页</a>
                    <!--					            <a class="page_link" href="javascript:void(0);" onclick="MAC.Comment.Show({'$__PAGING__.page_prev}')" title="上一页" id="preCommentPage" th:value="${currentPage-1}">上一页</a>-->
                    <a class="page_link" href="javascript:void(0);" title="上一页" id="preCommentPage" th:value="${commentResult.data.prePage}">上一页</a>
                    <a class="page_link page_current" id="currentPage" href="javascript:;" title="第1页" th:text="${commentResult.data.currentPage}">1</a>
                    <a class="page_link" href="javascript:void(0)"  th:value="${commentResult.data.nextPage}" title="下一页" id="nextCommentPage">下一页</a>
                    <a class="page_link" href="javascript:void(0)"  title="尾页" th:value="${commentResult.data.totalPage}" id="lastCommentPage">尾页</a>

                    <input class="page_input" type="text" placeholder="页码" id="page" autocomplete="off" style="width:40px">
                    <button class="page_btn" type="button"  id="gotoPage">GO</button>
                </div>
            </div>
        </div>


        <script src="/js/comment.js"></script>

    </div>

    <div class="col-r">

        <!--引入月周电影排行榜模块 -->
<!--        <div th:insert="/common/rankingOfMW.html"></div>-->
        <!--本周和本月热榜的公共模块 -->
        <div class="tv-hd">
            <h2>本周 • 热播榜</h2></div>
        <div class="tv-bd">
            <ul class="v-rank clearfix">

                <li th:each="movie,movieStat:${topMovieOfWeek.data.movieList}">
                    <i class="i-rank_num" th:text="${movieStat.count}">1</i>
                    <em class="v-num">高清</em>
                    <span class="v-tit">
                    <a href="/599.html" th:href="'/index/detail/'+${movie.mid}+'.html'" th:text="${movie.movieName}" th:title="${movie.movieName}" title="狼群行动2">狼群行动2</a>
                </span>
                </li>

            </ul>
        </div>
        <div class="tv-hd">
            <h2>本月 • 热播榜</h2>
        </div>
        <div class="tv-bd">
            <ul class="v-rank clearfix">

                <li th:each="movie,movieStat:${topMovieOfMonth.data.movieList}">
                    <i class="i-rank_num" th:text="${movieStat.count}">1</i>
                    <em class="v-num">高清</em>
                    <span class="v-tit">
                    <a href="/599.html" th:href="'/index/detail/'+${movie.mid}+'.html'" th:text="${movie.movieName}" th:title="${movie.movieName}" title="狼群行动2">狼群行动2</a>
                </span>
                </li>


            </ul>
        </div>


    </div>

</section>

<!-- 页脚 -->
<footer class="ifoot">
    <nav class="bnav">
        <a href="/movie-list.html" title="电影">热播电影</a>
        <a href="/comic-list.html" title="动漫">热播动漫</a>
        <a href="javascript:(void)" title="留言求片">留言求片</a>
    </nav>
    <p>免责声明:本网站所有内容均系收集于各大网站，本站只提供WEB页面服务，并不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢合作。</p>
    <p class="en">站长邮箱:123456@qq.com</p>
</footer>
<script src="/js/lazyload.min.js"></script>
<script src="/js/app.js"></script>

<script th:inline="javascript">

    var urlPrefix = [[${urlPrefix}]]
    var urlSuffix = [[${urlSuffix}]]
    var urls = [[${urlList}]]

    $(function () {

        $('body').on('click', '#playUrls', function(){
            var num = this.text;
            $("#playFrame").attr("src",urlPrefix+urls[num-1]+urlSuffix)
            $("#playNum").text('第 '+num+' 集')
        })

        $.ajaxSetup( {
            complete: function (xhr, status) {
                //拦截器实现超时跳转到登录页面
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT_LOGIN");
                // alert(REDIRECT);
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT_LOGIN")
                {
                    /*layer.msg('请先登录!', {icon: 1},function () {
                        return true
                    });*/
                    var win = window;
                    while (win != win.top)
                    {
                        win = win.top;
                    }
                    //重新跳转到拦截器中的路径
                    win.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            }
        });
    })

</script>

<div class="goback"><i class="iconfont"></i></div>
</body>
</html>