
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <title>2019年最新电影_大醉侠-高清在线播放-免费电影 - 苹果CMSbt种子搜索资源,百度网盘下载,国内领先的在线视频网站,免VIP在线观看无广告高清视频</title>
    <meta name="keywords" content="大醉侠-高清在线观看,谈判官百度网盘,谈判官迅雷下载,免费电影 - 苹果CMS_国内领先的在线视频网站·免VIP在线观看无广告高清视频">
    <meta name="description" content="《大醉侠-高清》在线观看,《大醉侠-高清》高清资源迅雷下载,免费电影 - 苹果CMS_国内领先的在线视频网站·免VIP在线观看无广告高清视频剧情:">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link type="images/vnd.microsoft.icon" href="/favicon.png" rel="shortcut icon">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
<!--    <link rel="stylesheet" href="/css/user_base.css">-->
    <link rel="stylesheet" href="/css/top.css">

    <script src="/js/comment.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/layer/layer.js"></script>
    <!--    <script src="/js/iconfont.js"></script>-->
    <!--    <script src="/layer/layer.js"></script>-->
    <script>
        var maccms = {
            "path": "",
            "mid": "1",
            "url": "343.pc16.cn",
            "wapurl": "343.pc16.cn",
            "mob_status": "2"
        };
    </script>
    <!--    <script src="/js/home.js"></script>-->
</head>
<body>
<header class="itopbar">

    <div class="container">
        <!-- 引入公共头部部分-->
        <div th:replace="/common/head.html"></div>
    </div>
</header>

<div class="icon" style="width: 1350px">
    <section class="iplaytop">
        <div class="container">
            <div class="col-l">
                <div class="mtips"><i class="iconfont"></i>
                    <div class="mtxt">正在播放：大醉侠 高清 电影</div>
                    <i class="iconfont" onclick="closeTips()"></i></div>
                <div class="iplays">
                    <script>
                        var player_data = {
                            "flag": "play",
                            "encrypt": 0,
                            "trysee": 0,
                            "points": 0,
                            "url_next": "",
                            "from": "qq",
                            "server": "no",
                            "note": ""
                        }
                    </script>

                    <style>
                        .MacPlayer {
                            background: #000000;
                            font-size: 14px;
                            color: #F6F6F6;
                            margin: 0px;
                            padding: 0px;
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            min-heigh: 300px;
                        }

                        .MacPlayer table {
                            width: 100%;
                            height: 100%;
                        }

                        .MacPlayer #playleft {
                            position: inherit;
                        !important;
                            width: 100%;
                            height: 100%;
                        }
                    </style>

                    <div class="MacPlayer">


                        <iframe id="buffer" src="/prestrain.html" frameborder="0" scrolling="no"
                                width="100%" height="100%"
                                style="position: absolute; z-index: 99998; display: none;">
                        </iframe>
                        <iframe id="install" src="" frameborder="0" scrolling="no" width="100%" height="100%"
                                style="position:absolute;z-index:99998;display:none;">
                        </iframe>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td id="playleft" valign="top" style="">
                                    <iframe width="100%" height="100%"
                                            src="http://jx.98a.ink/?url=https://v.youku.com/v_show/id_XNDY1Njc3NjExMg==.html"
                                            th:src="'http://jx.98a.ink/?url='+${movieInfo.data.playUrl}"
                                            frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no"
                                            allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                                            msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <script src="/player/parse.js"></script>
                </div>
            </div>
            <div class="col-r">
                <div class="iptit">
                    <h3 th:text="${movieInfo.data.movieName}+'【电影】'">大醉侠 【电影】</h3>
                    <p>高清</p>
                </div>
                <div class="fjcon">
                    <div class="fjtop clearfix">
                        <a href="javascript:zush(1);" id="zush_1" class="fjtab cur">腾讯视频</a>
                    </div>
                    <div class="xjs xjs_1" style="display: block;">

                        <div class="xjn">
                            <ul class="xjn_ul play-list">
                                <li class="xjn_li zhwli_1">
                                    <a class="x_n cur" href="/1.html">高清</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<section class="describe">
    <div class="video-intro container">
        <div class="video-title">
            <h1 th:text="${movieInfo.data.movieName}">大醉侠 高清</h1></div>
        <div class="video-tags"><span class="tags">电影</span></div>
        <div class="clearfix"></div>
        <p class="hoster">
            <span>导演：
                <a href="javascript:;" target="_blank" th:text="${movieInfo.data.directors}">胡金铨</a>&nbsp;&nbsp;
            </span>
            <span style="padding-left: 30px">主演：
                <a href="javascript:;" target="_blank" th:text="${movieInfo.data.mainActors}">郑佩佩</a>&nbsp;&nbsp;
            </span>
        </p>
        <div class="infor">
            <!--江湖败类“索命五虎”作恶多端，杀人如麻其老大被两江总督张大人俘获，不日问斩其余四虎铤而走险，劫走张大人之子张步青以作要挟。张步青之妹张熙燕（郑佩佩
            饰）武艺高强，人送绰号“金燕子”。为救兄长，张熙燕独-->
        </div>
    </div>
</section>

<div class="icon">
    <div class="container">
        <!--广告位1开始下方广告代码可以替换成自己的广告代码。如不需要请直接删除-->
    </div>
</div>

<section class="idetail container">
    <div class="col-l">
        <div class="tv-hd v-border">
            <h2><span>剧情介绍</span></h2>
        </div>
        <div class="tv-bd">
            <div class="infor_intro" th:text="${movieInfo.data.summery}">
                江湖败类“索命五虎”作恶多端，杀人如麻其老大被两江总督张大人俘获，不日问斩其余四虎铤而走险，劫走张大人之子张步青以作要挟。张步青之妹张熙燕（郑佩佩
                饰）武艺高强，人送绰号“金燕子”。为救兄长，张熙燕独闯虎穴，然恶徒狡猾非常，金燕子救兄不成，还险些丢掉性命。关键时刻，幸得隐于江湖的侠客范大悲（岳华 饰）出手搭救。
                范大悲曾为某寺院修行者，其师兄了空大师为夺掌门人之位杀害师傅，师傅临死前将丐帮掌门人信物交给范大悲。念及师兄弟之情，范从此隐姓埋名，以醉猫的诨号浪荡江湖。此次索命五虎与了空大师联手，势要将金燕子和范大悲斩草除根……
            </div>
        </div>

        <div class="tv-hd v-border">
            <h2><span>喜欢看【大醉侠】的人也喜欢</span></h2>
        </div>

        <div class="tv-bd">
            <ul class="tv-list tv-hotlist">

                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>

                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>

                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>
                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>

                <li>
                    <div class="v-pic">
                        <img data-src="/" class="thumb" alt="复仇"
                             src="/images/02.jpg">
                        <div class="v-tips">高清</div>
                        <a href="/628.html" title="复仇" class="v-playBtn"><i></i></a>
                    </div>
                    <div class="v-txt">
                        <span class="v-tit"><a href="/628.html" title="复仇">复仇</a></span>
                    </div>
                </li>



            </ul>
        </div>


        <div class="tv-hd v-border">
            <h2><span>影片评论</span></h2><span class="s_num">共有<em id="countInPic"
                                                                th:utext="'('+${commentResult.data.count}+')'">0</em>条影评</span>
        </div>

        <!--引入评论模块，注意要在后面引入comment.js-->
        <div th:replace="/common/comment.html"></div>

        <script src="/js/comment.js"></script>

    </div>
    <div class="col-r">

        <!--引入月周电影排行榜模块 -->
        <div th:insert="/common/rankingOfMW.html"></div>

    </div>

</section>

<!-- 页脚 -->
<footer class="ifoot">
    <nav class="bnav">
        <a href="/1.html" title="电影">热播电影</a>
        <a href="/4.html" title="动漫">热播动漫</a>
        <a href="/index.php/gbook/index.html" title="留言求片">留言求片</a>
    </nav>
    <p>免责声明:本网站所有内容均系收集于各大网站，本站只提供WEB页面服务，并不提供影片资源储存也不参与录制与上传，若本站收录内容无意侵犯了贵公司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢合作。</p>
    <p class="en">343.pc16.cn站长邮箱</p>
    <p class="en">统计代码</p>
</footer>
<script src="/js/lazyload.min.js"></script>
<script src="/js/app.js"></script>

<script>

    $(function () {
        $.ajaxSetup( {
            complete: function (xhr, status) {
                //拦截器实现超时跳转到登录页面
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT_LOGIN");
                // alert(REDIRECT);
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT_LOGIN")
                {
                    /*layer.msg('请先登录!', {icon: 1},function () {
                        return true
                    });*/
                    var win = window;
                    while (win != win.top)
                    {
                        win = win.top;
                    }
                    //重新跳转到拦截器中的路径
                    win.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            }
        });
    })

</script>

<div class="goback"><i class="iconfont"></i></div>
</body>
</html>