<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <title>观看历史</title>
    <link rel="stylesheet" href="/css/user_base.css">

    <link href="/css/app.87b0.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/x_dialog.css">
</head>
<body _wind="scene=个人中心" class="page_user_center">


<div th:replace="/common/head.html"></div>

<div class="site_wrapper cf">

    <div th:replace="/common/user_navigate.html"></div>


    <div _wind="pagename=观看历史" class="site_main">
        <div class="wrapper_main history_page">
            <div class="history_filter_box">
                <span class="uct_checkbox pos">
                    <i>
                        <svg viewBox="0 0 12 9" width="12" height="9" style="visibility: visible;">
                        <use xlink:href="#svg_checkbox_active"></use>
                        </svg>
                    </i>
                    过滤已看完
                </span>
                <span class="icon_btn pos history_clear">
                    <svg viewBox="0 0 14 14" width="14" height="14">
                        <use xlink:href="#svg_clear_all"></use>
                    </svg>
                    清除全部
                </span>
            </div>
            <div _wind="columnname=今天&amp;controlname=today" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">今天</span>
                </div>
                <div>
                    <div th:each="history:${todayHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
                            <span class="history_item_update">全13集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看不足1%</span></p>

                    </div>
                </div>
            </div>

            <div _wind="columnname=昨天&amp;controlname=yesterday" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">昨天</span>
                </div>
                <div>

                    <div th:each="history:${yesterdayHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
                            <span class="history_item_update">全13集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看不足1%</span></p>

                    </div>


                </div>
            </div>

            <div _wind="columnname=更早&amp;controlname=earlier" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">更早</span>
                </div>


                <div>

                    <div th:each="history:${earlierHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
                            <span class="history_item_update">全13集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看不足1%</span></p>

                    </div>

                    <!--<div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0">
                            <span class="history_item_update">更新至92集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" title="武庚纪 第70话" >武庚纪 第70话</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至17%</span></p>
                    </div>

                    <div class="history_item item_size " style="display: none;">
                        <a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" target="_blank"
                            class="history_item_top del_par">
                        <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/t0012eihh4w_360_204/0">
                        <div class="hover_mask">
                            <div class="hover_mask_play"></div>
                            <svg data-del="d2dqpxticntawvr" class="del_x">
                                <use xlink:href="#svg_clear_item"></use>
                            </svg>
                        </div>
                    </a><strong class="history_item_title nowrap_two"><a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" title="李米的猜想" target="_blank">李米的猜想</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_phone"></use>
                            </svg>
                            <span>观看不足1%</span></p>
                    </div>

                    <div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0">
                            <span class="history_item_update">更新至92集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" title="武庚纪 第70话" >武庚纪 第70话</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至17%</span></p>
                    </div>
                    <div class="history_item item_size " style="display: none;">
                        <a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" target="_blank"
                            class="history_item_top del_par">
                        <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/t0012eihh4w_360_204/0">
                        <div class="hover_mask">
                            <div class="hover_mask_play"></div>
                            <svg data-del="d2dqpxticntawvr" class="del_x">
                                <use xlink:href="#svg_clear_item"></use>
                            </svg>
                        </div>
                    </a><strong class="history_item_title nowrap_two"><a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" title="李米的猜想" target="_blank">李米的猜想</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_phone"></use>
                            </svg>
                            <span>观看不足1%</span></p>
                    </div>

                    <div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0">
                            <span class="history_item_update">更新至92集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" title="武庚纪 第70话" >武庚纪 第70话</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至17%</span></p>
                    </div>
                    <div class="history_item item_size " style="display: none;">
                        <a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" target="_blank"
                            class="history_item_top del_par">
                        <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/t0012eihh4w_360_204/0">
                        <div class="hover_mask">
                            <div class="hover_mask_play"></div>
                            <svg data-del="d2dqpxticntawvr" class="del_x">
                                <use xlink:href="#svg_clear_item"></use>
                            </svg>
                        </div>
                    </a><strong class="history_item_title nowrap_two"><a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" title="李米的猜想" target="_blank">李米的猜想</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_phone"></use>
                            </svg>
                            <span>观看不足1%</span></p>
                    </div>

                    <div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0">
                            <span class="history_item_update">更新至92集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" title="武庚纪 第70话" >武庚纪 第70话</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至17%</span></p>
                    </div>

                    <div class="history_item item_size " style="display: none;">
                        <a
                            href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" target="_blank"
                            class="history_item_top del_par">
                        <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/t0012eihh4w_360_204/0">
                        <div class="hover_mask">
                            <div class="hover_mask_play"></div>
                            <svg data-del="d2dqpxticntawvr" class="del_x">
                                <use xlink:href="#svg_clear_item"></use>
                            </svg>
                        </div>
                    </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/d2dqpxticntawvr/t0012eihh4w.html" title="李米的猜想" target="_blank">李米的猜想</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_phone"></use>
                            </svg>
                            <span>观看不足1%</span></p>
                    </div>

                    <div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/g0027gix4dm_360_204/0">
                            <span class="history_item_update">更新至92集</span>
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="ipmc5u3dwb48mv2" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/ipmc5u3dwb48mv2/g0027gix4dm.html" title="武庚纪 第70话" >武庚纪 第70话</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至17%</span></p>
                    </div>
                    <div class="history_item item_size " style="display: none;">
                        <a
                            href="//v.qq.com/x/cover/mzc00200opqzg5p/y0032z3dxq2.html" target="_blank"
                            class="history_item_top del_par"><img class="history_item_pic"
                                                                  src="//puui.qpic.cn/qqvideo_ori/0/y0032z3dxq2_360_204/0">
                        <div class="hover_mask">
                            <div class="hover_mask_play"></div>
                            <svg data-del="mzc00200opqzg5p" class="del_x">
                                <use xlink:href="#svg_clear_item"></use>
                            </svg>
                        </div>
                    </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/mzc00200opqzg5p/y0032z3dxq2.html" title="余生，请多指教 《余生，请多指教》先导预告片 余生宿命篇" target="_blank">余生，请多指教 《余生，请多指教》先导预告片
                            余生宿命篇</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看至46%</span></p>
                    </div>
                    <div class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/m5zzglrbt5zdv6d/v0033476tnr.html" class="history_item_top del_par">
                            <img class="history_item_pic" src="//puui.qpic.cn/qqvideo_ori/0/v0033476tnr_360_204/0">
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="m5zzglrbt5zdv6d" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a><strong class="history_item_title nowrap_two">
                        <a href="//v.qq.com/x/cover/m5zzglrbt5zdv6d/v0033476tnr.html" title="叶问4(普通话版)" >叶问4(普通话版)</a></strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
                            <span>观看不足1%</span></p>
                    </div>-->

                </div>




            </div>
        </div>
    </div>

</div>

<!--[if lte IE 9 ]>
<link rel="stylesheet" href="//vm.gtimg.cn/tencentvideo/vstyle/web/v6/style/css/footer.ie.css"/>
<![endif]-->

<!--<iframe style="display:none;" src="//video.qq.com/getcookie/cookie.html" frameborder="0"></iframe>-->

</body>
</html>