<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <title>观看历史</title>
    <link rel="shortcut icon " type="images/x-icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="/css/user_base.css">

    <link href="/css/app.87b0.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/x_dialog.css">
</head>
<body _wind="scene=个人中心" class="page_user_center">

<!--引入公共头部部分-->
<!--<div th:replace="/common/head.html"></div>-->
<div class="site_head site_head_channel" id="new_vs_header">
    <div class="head_inner">

        <div class="site_channel" style="padding-left: 30px">

            <a href="/" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >首页</a>
            <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>-->
            <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large" class="channel_nav channel_nav_0 _channel_nav_精选" >精选</a>


            <!--            <a href="/movie-list.html" th:class="${category=='movie'}?'current'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>-->
            <a href="/movie-list.html" th:style="${category=='movie'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_2 _channel_nav_电影" >电影</a>

            <a href="/comic-list.html" th:style="${category=='comic'}?'color:red;font-size: x-large;margin-left: 20px':'font-size: x-large;margin-left: 20px'" style="font-size: x-large;margin-left: 20px" class="channel_nav channel_nav_4 _channel_nav_动漫" >动漫</a>

            <a href="/category/search" class="channel_more _site_channel_more" title="展开更多频道" _stat="顶部导航区:主导航:全部频道">
                <span class="icon_text" style="font-size: x-large;margin-left: 20px">全部</span>
                <svg class="svg_icon_menu_sm" viewBox="0 0 18 18" width="18" height="18">
                    <g class="svg_before">
                        <circle cx="5" cy="5" r="2.4" fill="none" stroke="#ffb821" stroke-width="1.2"></circle>
                        <circle cx="5" cy="13" r="2.4" fill="none" stroke="#fc5131" stroke-width="1.2"></circle>
                        <circle cx="13" cy="5" r="2.4" fill="none" stroke="#ff1919" stroke-width="1.2"></circle>
                        <circle cx="13" cy="13" r="2.4" fill="none" stroke="#ff147c" stroke-width="1.2"></circle>
                    </g>
                </svg>
            </a>
        </div>

        <img class="unusual_pic none" data-choice="" data-tv="" data-movie="" data-variety="" data-cartoon=""
             data-child="" data-doco="" data-hlw="" data-music="" data-feeds_hotspot=""
             src="//puui.qpic.cn/vupload/0/common_blank.png/0" alt="">

        <div class="mod_search">
            <form id="searchForm" action="/search.html" method="get" target="_blank" class="search_form cf">
                <label class="search_label" for="keyword">搜索关键词</label>
                <div class="search_keywords">
                    <input type="text" name="kw" id="keyword" class="search_input" placeholder="斗罗大陆"  value="斗罗大陆">
                </div>

                <button class="search_btn" id="searchBtn">
                    <svg class="svg_icon svg_icon_search" viewBox="0 0 18 18" width="18" height="18">
                        <path d="M4.5 4.5c-1.9 1.9-1.9 5.1 0 7.1s5.1 1.9 7.1 0 1.9-5.1 0-7.1-5.2-2-7.1 0zm10.8 12.2l-3.1-3.1c-2.7 2-6.6 1.9-9.1-.6C.3 10.2.3 5.8 3 3 5.7.3 10.2.3 12.9 3c2.5 2.5 2.7 6.4.6 9.1l3.1 3.1c.4.4.4 1 0 1.4-.3.5-.9.5-1.3.1z"
                              fill="currentColor"></path>
                    </svg>
                    <span class="btn_inner" >搜索</span>
                </button>
                <a class="btn_search_hot" href="#"
                   target="_blank" title="热搜榜">
                    <svg class="svg_icon_fire" width="12" height="15" viewBox="0 0 12 15">

                        <path d="M6.634 17C2.539 14.21 1.905 10.843 4.73 6.898 6.307 4.845 7.253 4.053 7.253 2c.353.183 5.134 2.569 4.024 7.5 1.01-.505 1.684-1.659 2.025-3.463 2.28 3.767 2.264 6.9-.051 9.4-.489.528-1.211 1.05-1.873 1.563-1.33-.625-2.932-1.875-3.573-5.625C6.524 12.833 6.133 14.708 6.634 17z"
                              fill="url(#__gradient_fire)" transform="translate(-3 -2)"></path>
                    </svg>
                    热搜榜
                </a>
            </form>
        </div>
        <!-- 快捷入口 开始 -->
        <div class="mod_quick cf">

            <!-- 历史浮层 -->
            <div class="quick_item quick_history" id="modHistory" style="margin-left: 20px;">
                <a href="https://v.qq.com/biu/u/history/" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/history'" class="quick_link" target="_blank" _stat="顶部导航区:观看历史">

                    <svg class="svg_quick_icon svg_icon_time" viewBox="0 0 26 26" width="26" height="26">
                        <circle cx="13" cy="13" r="11" fill="none" stroke="currentColor" stroke-width="2"></circle>
                        <path d="M14 13h3c.6 0 1 .4 1 1s-.4 1-1 1h-4c-.6 0-1-.4-1-1V8c0-.6.4-1 1-1s1 .4 1 1v5z"
                              fill="currentColor"></path>
                    </svg>

                    <span class="quick_text">看过</span></a>

            </div>

            <div class="quick_item quick_user" id="mod_head_user" style="margin-left: 40px;margin-right: 30px">
                <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/user/info/'+${#httpServletRequest.getAttribute('userId')}" class="quick_link _checklogin" id="mod_head_notice_trigger">
                    <img class="quick_user_avatar" th:src="${#httpServletRequest.getAttribute('face')==null}?'/images/user.jpg':${#httpServletRequest.getAttribute('face')}" style="border-radius: 50%;overflow: hidden" src="/images/user.jpg" >

                </a>

            </div>
            <!--            <input type="button" value="退出" style="font-size: medium">-->
            <a href="/login.html" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:text="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" style="font-size: medium"></a>
            <!--            <input type="button" th:href="${#httpServletRequest.getAttribute('userId')==null}?'/login.html':'/logout'" th:value="${#httpServletRequest.getAttribute('userId')==null}?'请登录':'退出'" value="请登录" style="font-size: medium">-->
        </div>
        <!-- 快捷入口 结束 -->

    </div>

</div>

<div class="site_wrapper cf">

    <!--引入用户侧边栏-->
<!--    <div th:replace="/common/user_navigate.html"></div>-->
    <div class="user_navigate" id="side_nav">

        <!-- 用户信息侧 -->
        <div class="user_info __user_info_side">
            <!-- 头像 -->
            <div class="navi_avatar navi_avater">
                <img src="/image/02.jpg" th:src="${#httpServletRequest.getAttribute('face')==null}?'/image/user.jpg':${#httpServletRequest.getAttribute('face')}" alt="" class="avatar_pic __avatar">
                <button class="option_toggle">
                    <span class="inner">切换</span>
                </button>
            </div>

            <!-- 用户名 -->
            <div class="user_name">
                <span class="__nickname" th:text="${#httpServletRequest.getAttribute('nickName')==null}?'':${#httpServletRequest.getAttribute('nickName')}">哈哈哈</span>
            </div>

            <!-- 会员信息 -->
            <div class="user_vipinfo user_holly">

                <div class="user_vip_detail">
                    <div class="detail_svip _detail_svip">
                        <img src="//puui.qpic.cn/vupload/0/common_blank.png/0" alt="" class="icon_svip_pic">
                        <span class="desc"></span>
                    </div>
                    <div class="detail_vip _detail_vip">
                        <img src="//puui.qpic.cn/vupload/0/common_blank.png/0" alt="" class="icon_vip_pic">
                        <span class="desc"></span>
                    </div>
                </div>

                <button title="退出" class="btn_vip _vip_btn"><a href="/logout">退出</a></button>
            </div>

        </div>

        <div class="user_channel_info">
            <a href="//c.v.qq.com/vchannelhomepage?url=194959094&amp;type=1" class="channel_link _user" target="_blank">
                <svg class="svg_side_icon svg_icon_user" viewBox="0 0 18 18" width="18" height="18">
                    <circle cx="9" cy="7" r="5" stroke="currentColor" stroke-width="2" fill="none"></circle>
                    <path d="M16 15.9A10 10 0 0 0 9 13a10 10 0 0 0-7 3" stroke-linecap="round" stroke-linejoin="round"
                          stroke="currentColor" stroke-width="2" fill="none"></path>
                </svg>
                我的个人频道
            </a>
            <div class="channel_info">
                <div class="item">
                    <div class="num" id="channelInfoVideo">0</div>
                    <div class="text">视频</div>
                </div>
                <div class="item">
                    <div class="num" id="channelInfoSubs">0</div>
                    <div class="text">订阅</div>
                </div>
                <div class="item">
                    <div class="num" id="channelInfoCounts">0</div>
                    <div class="text">播放量</div>
                </div>
            </div>
        </div>

        <div class="user_navigate_list">
            <div class="item current" th:class="${select=='info'}?'item current':'item'">
                <a href="./collection.html" class="navi_link _collect">
                    <svg class="svg_side_icon svg_icon_user" viewBox="0 0 18 18" width="18" height="18">
                        <circle cx="9" cy="7" r="5" stroke="currentColor" stroke-width="2" fill="none"></circle>
                        <path d="M16 15.9A10 10 0 0 0 9 13a10 10 0 0 0-7 3" stroke-linecap="round" stroke-linejoin="round"
                              stroke="currentColor" stroke-width="2" fill="none"></path>
                    </svg>
                    我的资料<span class="mark_dot none" id="user_info"></span></a>
            </div>

            <div class="item" th:class="${select=='history'}?'item current':'item'">
                <a href="javascript:;" th:href="'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/history'" class="navi_link _time" _hot="uc.side._time">
                    <svg class="svg_side_icon svg_icon_time" viewBox="0 0 18 18" width="18" height="18">
                        <circle cx="9" cy="9" r="7" stroke="currentColor" stroke-width="2" fill="none"></circle>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5v5h3" stroke="currentColor"
                              stroke-width="2" fill="none"></path>
                    </svg>
                    观看历史</a>
            </div>

            <div class="item" th:class="${select=='collection'}?'item current':'item'">
                <a href="javascript:;" th:href="'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/collection'" class="navi_link _collect" _hot="uc.side._collect">
                    <svg class="svg_side_icon svg_icon_collect" viewBox="0 0 18 18" width="18" height="18">
                        <path d="M4.7 11C3.3 9.7 2 8 2 6.1 2 1.3 7.3 1 9 4c1.6-3 7-2.8 7 2" stroke="currentColor"
                              stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
                        <path d="M12 17a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm1-6V9h-2v2H9v2h2v2h2v-2h2v-2h-2z"
                              fill="currentColor" fill-rule="nonzero"></path>
                    </svg>
                    收藏<span class="mark_dot none" id="sidenav_notice_playlist"></span></a>
            </div>

            <div class="item">
                <a href="javascript:;" th:href="'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/subscribe'" class="navi_link _follow" _hot="uc.side._follow">
                    <svg class="svg_side_icon svg_icon_follow" viewBox="0 0 18 18" width="18" height="18">
                        <path d="M8.5 14.2l-3 1.6a1 1 0 0 1-1.4-1l.5-3.4a1 1 0 0 0-.3-.9L2 8.1a1 1 0 0 1 .5-1.7L5.8 6a1 1 0 0 0 .8-.5l1.5-3a1 1 0 0 1 1.8 0l1.5 3a1 1 0 0 0 .8.5l3.4.5a1 1 0 0 1 .5 1.7l-2.4 2.4a1 1 0 0 0-.3 1l.5 3.3a1 1 0 0 1-1.4 1l-3-1.6a1 1 0 0 0-1 0z"
                              stroke="currentColor" stroke-width="2" fill="none"></path>
                    </svg>
                    订阅</a>
            </div>

            <div class="item" th:class="${select=='comment'}?'item current':'item'">
                <a href="javascript:;" th:href="'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/comment'" class="navi_link _message" _hot="uc.side._message">
                    <svg class="svg_side_icon svg_icon_message" viewBox="0 0 18 18" width="18" height="18">
                        <path d="M3.8 13.4A1.8 1.8 0 0 1 2 11.6V3.8C2 2.8 2.8 2 3.8 2h10.4c1 0 1.8.8 1.8 1.8v7.8a1.8 1.8 0 0 1-1.8 1.8h-6L5.4 16"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              fill="none"></path>
                        <path d="M6.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                              fill="currentColor"></path>
                    </svg>
                    评论</a>
            </div>

            <div class="item" th:class="${select=='message'}?'item current':'item'">
                <a href="javascript:;" th:href="'/user/info/'+${#httpServletRequest.getAttribute('userId')}+'/message'" class="navi_link _notice" _hot="uc.side._notice">
                    <svg class="svg_side_icon svg_icon_notice" viewBox="0 0 18 18" width="18" height="18">
                        <path d="M14 7v1.6l2.7 3c.2.4.1 1-.2 1.3a.8.8 0 0 1-.5.1H2c-.5 0-.8-.4-.8-.9l.1-.5 2.7-3V7m10 0A5 5 0 0 0 4 7M6 14c.5 1.2 1.7 2 3 2s2.5-.8 3-2"
                              stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" stroke-width="2"
                              fill="none"></path>
                    </svg>
                    消息</a>
            </div>

        </div>
    </div>


    <div _wind="pagename=观看历史" class="site_main">
        <div class="wrapper_main history_page">
            <div class="history_filter_box">
                <span class="uct_checkbox pos">
                    <i>
                        <svg viewBox="0 0 12 9" width="12" height="9" style="visibility: visible;">
                        <use xlink:href="#svg_checkbox_active"></use>
                        </svg>
                    </i>
                    过滤已看完
                </span>
                <span class="icon_btn pos history_clear">
                    <svg viewBox="0 0 14 14" width="14" height="14">
                        <use xlink:href="#svg_clear_all"></use>
                    </svg>
                    清除全部
                </span>
            </div>
            <div _wind="columnname=今天&amp;controlname=today" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">今天</span>
                </div>
                <div>
                    <div th:each="history:${todayHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
<!--                            <span class="history_item_update">全13集</span>-->
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
<!--                            <span>观看不足1%</span>-->
                        </p>

                    </div>
                </div>
            </div>

            <div _wind="columnname=昨天&amp;controlname=yesterday" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">昨天</span>
                </div>
                <div>

                    <div th:each="history:${yesterdayHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
<!--                            <span class="history_item_update">全13集</span>-->
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
<!--                            <span>观看不足1%</span>-->
                        </p>

                    </div>


                </div>
            </div>

            <div _wind="columnname=更早&amp;controlname=earlier" class="page_history_mod">
                <div class="history_mod_header">
                    <i class="title_route"></i>
                    <span class="history_mod_title">更早</span>
                </div>


                <div>

                    <div th:each="history:${earlierHistory.data}" class="history_item item_size ">
                        <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" class="history_item_top del_par">
                            <img class="history_item_pic" th:src="${history.image}" style="width: 190px;height: 170px" src="//puui.qpic.cn/qqvideo_ori/0/b038169b2g9_360_204/0">
<!--                            <span class="history_item_update">全13集</span>-->
                            <div class="hover_mask">
                                <div class="hover_mask_play"></div>
                                <svg data-del="x3xbffcj3amwwz1" class="del_x">
                                    <use xlink:href="#svg_clear_item"></use>
                                </svg>
                            </div>
                        </a>
                        <strong class="history_item_title nowrap_two">
                            <a href="//v.qq.com/x/cover/x3xbffcj3amwwz1/b038169b2g9.html" th:href="'/index/detail/'+${history.mid}+'.html'" th:text="${history.movieName}" title="阿狸·布塔 滴答" >阿狸·布塔 滴答</a>
                        </strong>
                        <p class="history_item_time nowrap">
                            <svg viewBox="0 0 16 16" width="16" height="16">
                                <use xlink:href="#svg_view_pc"></use>
                            </svg>
<!--                            <span>观看不足1%</span>-->
                        </p>

                    </div>


                </div>




            </div>
        </div>
    </div>

</div>

<!--[if lte IE 9 ]>
<link rel="stylesheet" href="//vm.gtimg.cn/tencentvideo/vstyle/web/v6/style/css/footer.ie.css"/>
<![endif]-->


</body>
</html>