<!--本周和本月热榜的公共模块 -->
<div class="tv-hd">
        <h2>本周 • 热播榜</h2></div>
    <div class="tv-bd">
        <ul class="v-rank clearfix">

            <li th:each="movie,movieStat:${topMovieOfWeek.data.movieList}">
                <i class="i-rank_num" th:text="${movieStat.count}">1</i>
                <em class="v-num">高清</em>
                <span class="v-tit">
                    <a href="/599.html" th:href="'/index/detail/'+${movie.mid}+'.html'" th:text="${movie.movieName}" th:title="${movie.movieName}" title="狼群行动2">狼群行动2</a>
                </span>
            </li>


        </ul>
    </div>
    <div class="tv-hd">
        <h2>本月 • 热播榜</h2>
    </div>
    <div class="tv-bd">
        <ul class="v-rank clearfix">

            <li th:each="movie,movieStat:${topMovieOfMonth.data.movieList}">
                <i class="i-rank_num" th:text="${movieStat.count}">1</i>
                <em class="v-num">高清</em>
                <span class="v-tit">
                    <a href="/599.html" th:href="'/index/detail/'+${movie.mid}+'.html'" th:text="${movie.movieName}" th:title="${movie.movieName}" title="狼群行动2">狼群行动2</a>
                </span>
            </li>


        </ul>
    </div>
